<include file="Public/header" />
<include file="Public/ueditor" />
<body>
<div class="mod-box">
    <div class="mod-title">
        <h5>
            <if condition="$act eq 'add'">
                添加新闻
                <else />编辑新闻
            </if>
        </h5>
    </div>
    <div class="mod-form pb50">
        <form action="" method="post" id="form1">
            <div class="mform-box form-group">
                <label for="newstitle" class="mform-lab">新闻标题：</label>
                <input type="text" class="form-control mform-inp1" name="newstitle" id="newstitle" value="{$news.newstitle}" />
            </div>
            <div class="mform-box form-group">
                <label for="instro" class="mform-lab">新闻描述：</label>
                <textarea class="form-control mform-inp1" name="instro" id="instro" >{$news.instro}</textarea>
            </div>
            <div class="mform-box form-group">
                <label class="mform-lab">所属分类：</label>
                <select id="typeid" name="typeid" class="form-control mform-inp1">
                    <option value="1" <notempty name="news"><if condition="$news['typeid'] eq 1">selected = "selected"</if></notempty>>微博营销知识</option>
                    <option value="2" <notempty name="news"><if condition="$news['typeid'] eq 2">selected = "selected"</if></notempty>>常见问题</option>
                    <option value="3" <notempty name="news"><if condition="$news['typeid'] eq 3">selected = "selected"</if></notempty>>最新推荐</option>
                </select>
            </div>
            <div class="mform-box form-group">
                <label for="newsfrom" class="mform-lab">新闻来源：</label>
                <input type="text" class="form-control mform-inp1" name="newsfrom" id="newsfrom" value="{$news.newsfrom}" />
            </div>
            <div class="mform-box form-group">
                <label for="author" class="mform-lab">新闻作者：</label>
                <input type="text" class="form-control mform-inp1" name="author" id="author" value="{$news.author}" />
            </div>
            <div class="mform-box form-group">
                <label for="keyword" class="mform-lab">新闻关键词：</label>
                <input type="text" class="form-control mform-inp1" name="keyword" id="keyword" value="{$news.keyword}" />
            </div>
            <div class="mform-box form-group">
                <label for="keyinfo" class="mform-lab">关键词描述：</label>
                <textarea class="form-control mform-inp1" name="keyinfo" id="keyinfo" >{$news.keyinfo}</textarea>
            </div>
            <div class="mform-box form-group">
                <label class="mform-lab">是否显示：</label>
                <input type="radio" name="isshow" id="isshow" class="form-check form-cbox1" value="1" <empty name="catdetail">checked<else /><if condition="$news['isshow'] eq 1">checked</if></empty> />
                <label for="isshow" class="btn btn-default">是</label>
                <input type="radio" name="isshow" id="noshow" class="form-check form-cbox1" value="0" <notempty name="news"><if condition="$news['isshow'] eq 0">checked</if></notempty> />
                <label for="noshow" class="btn btn-default">否</label>
            </div>
            <div class="mform-box form-group">
                <label class="mform-lab">是否推荐：</label>
                <input type="radio" name="isreco" id="isreco" class="form-check form-cbox1" value="1" <notempty name="news"><if condition="$news['isreco'] eq 1">checked</if></notempty> />
                <label for="isreco" class="btn btn-default" onclick="is_reco(this)">是</label>
                <input type="radio" name="isreco" id="noreco" class="form-check form-cbox1" value="0"  <empty name="news">checked<else /><if condition="$news['isreco'] eq 0">checked</if></empty> />
                <label for="noreco" class="btn btn-default">否</label>
            </div>
            <div class="mform-box form-group">
                <label class="mform-lab" id="isrecopic">推荐图：</label>
                <input type="text" class="form-control mform-inp1 original_img1" name="recopic" value="{$news.recopic}" />
                <a href="javascript:void(0)" onclick="GetUploadify('news','frm2','1','4MB','call_back','original_img1')" class="btn btn-default mod-btn">上传</a>
                <a href="javascript:void(0)" onclick="del_upimg('original_img1',this)" class="btn btn-default mod-btn del-img">删除</a>
                <div class="form-view">
                    <empty name="news">
                        <img src="__PUBLIC__/images/pic-moren.jpg" class="original_img1" />
                        <else />
                        <img src="{$news.recopic}" class="original_img1" />
                    </empty>
                </div>
            </div>
            <div class="mform-box form-group">
                <label for="contents" class="mform-lab">详情描述：</label>
                <div class="form-text">
                    <textarea id="goods_content" name="newscontent" title=""><notempty name="news">{$news.newscontent}</notempty></textarea>
                </div>
            </div>
            <div class="mform-box">
                <input type="hidden" name="act" value="{$act}" />
                <input type="hidden" name="newsid" value="{$news['id']}" />
                <input type="button" onclick="ajax_add('form1','{:U('Admin/Show/add_news')}')" class="btn btn-primary mform-sub" value="保存" />
            </div>
        </form>
    </div>
</div>
</body>
<script>
    /*
     * 图片上传回调函数
     */
    function call_back(url,classname){
        $("input."+classname).val(url).siblings(".del-img").show();
        $("img."+classname).attr("src",url);
    }

    /*
     * 上传图片删除函数
     */
    function del_upimg(classname,obj){
        $.ajax({
            type:'get',
            data:{filename:$("input."+classname).val(),action:"del"},
            url:"{:U('Admin/Uploadify/delImg')}",
            success:function(data){
                $("input."+classname).val('');
                $("img."+classname).attr("src","__PUBLIC__/images/pic-moren.jpg");
                $(obj).hide();
            }
        })
    }
</script>
</html>