<include file="Common/header" />
<link rel="stylesheet" href="__PUBLIC__/css/pages_built.css">
<body>
<div class="container">
    <div class="inner_box" style="padding-bottom: 60px!important;">
        <!--侧边栏-->
        <include file="Common/sidebar" />
        <!--navigation start-->
        <include file="Common/navbox" />

        <!-- 主题部分 开始 -->
        <div id="js_page_model">
            <div class="content weChat_account_detail">
                <div class="clearfix">
                    <!-- 头像 -->
                    <div class="weChat_account_left">
                        <p id="js_face_img" class="account_face relative">
                            <img class="header" src="{$goods.pic}" id="goodsimg{$goods['id']}">
                            <if condition="$goods['isyy']">
                                <em class="account_order_wrap">
                                    <span class="account_order"></span>
                                </em>
                            </if>
                        </p>
                    </div>
                    <!-- 头像 end-->

                    <div class="account_info_box">
                        <!--基础信息 -->
                        <p class="weChat_account_info">
                            <em>
                                <if condition="$goods['platcatid'] eq 24">
                                    <span class="icon_list_platform icon_list_meipai valign_middle"></span>
                                    <elseif condition="$goods['platcatid'] eq 45"/>
                                    <span class="icon_list_platform icon_list_kuaishou valign_middle"></span>
                                    <elseif condition="$goods['platcatid'] eq 46"/>
                                    <span class="icon_list_platform icon_list_bilibili valign_middle"></span>
                                    <elseif condition="$goods['platcatid'] eq 84"/>
                                    <span class="icon_list_platform icon_list_youku valign_middle"></span>
                                    <elseif condition="$goods['platcatid'] eq 44"/>
                                    <span class="icon_list_platform icon_list_yingke valign_middle"></span>
                                    <elseif condition="$goods['platcatid'] eq 82"/>
                                    <span class="icon_list_platform icon_list_yizhibo valign_middle"></span>
                                    <elseif condition="$goods['platcatid'] eq 84"/>
                                    <span class="icon_list_platform icon_list_huajiao valign_middle"></span>
                                    <else />
                                    <span class="icon_list_platform icon_list_miaopai valign_middle"></span>
                                </if>
                                <if condition="$goods['isrz']">
                                    <if condition="$goods['typeid'] eq 1">
                                        <span class="account_wechat_certified"></span>
                                        <elseif condition="$goods['typeid'] eq 2"/>
                                        <img class="valign_middle" width="17" src="__PUBLIC__/images/v_weibo_2x.png">
                                        <elseif condition="$goods['typeid'] eq 3"/>
                                        <img class="valign_middle" width="17" src="__PUBLIC__/images/v_miaopai_2x_v2.png">
                                    </if>

                                </if>
                                <b>{$goods.name}</b>
                                <foreach name="goods['sign']" item="k">
                                    <span class="account_original text_center valign_middle">{$k}</span>
                                </foreach>
                            </em>
                        </p>
                        <if condition="$goods['typeid'] eq 1">
                            <p class="color_light weChat_qr_code_word">
                                微信号&nbsp;<em class="color_default">{$goods.wechat}</em>
                            </p>
                        </if>
                        <div class="video_account_info_box fl">
                            <ul class="video_account_data">
                                <li class="clearfix">
                                    <span class="color_light line_title">粉丝数</span>
                                    <em>172万</em>
                                </li>
                                <li class="clearfix">
                                    <span class="color_light line_title">参考报价</span>
                                    <div class="fans">
                                        <ul class="video_release_price_list text_center">
                                            <foreach name="specprice" item="v">
                                                <li>
                                                    <p>{$goodsspec[$v['specid']]['specname']}</p>
                                                    <p>
                                                        <span class="money font_size_xxlarge color_high_light">￥{$v.price}</span>
                                                    </p>
                                                </li>
                                            </foreach>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!--基础信息 end-->

                        <!-- 功能按钮 加入购物车等 -->

                        <p class="clearfix">
                            <a href="javascript:void(0);" onclick="add_cart({$goods.id},{$goods.typeid},event,190)" class="button btn_large_important fr"><span class="btn_wrap">加入选号车</span> </a>
                        </p>
                        <!-- 功能按钮 加入购物车 end-->

                    </div>
                    <div class="weChat_profile">
                        <h2 class="video_account_h2">
                            基础数据
                            <img src="__PUBLIC__/images/video_data.png" width="22" class="valign_middle">
                        </h2>
                        <table>
                            <tbody><tr>
                                <th>性别/年龄/地域</th>
                                <td><if condition="$goods['sex'] eq 0">男<else/>女</if>/{$goods.age}/{$goods.area}
                                </td>
                            </tr>
                            <tr>
                                <th>平均播放数</th>
                                <td>{$goods.reading}</td>
                            </tr>
                            <tr>
                                <th>平均点赞数</th>
                                <td>{$goods.liked}</td>
                            </tr>
                            <tr>
                                <th>平均评论数</th>
                                <td>{$goods.comment}</td>
                            </tr>
                            <tr>
                                <th>平均弹幕数</th>
                                <td>{$goods.pjgz}</td>
                            </tr>
                            <tr>
                                <th>30天被预约数</th>
                                <td>{$goods['monthorder']}</td>
                            </tr>
                            </tbody></table>
                    </div>

                </div>

                <!--推荐账号部分 start-->

                <div class="clearfix">
                    <div class="clearfix tabChange_wrap">
                        <a href="javascript:;" class="cur">选了这个账号的人还选了<i></i></a>
                    </div>
                    <div class="clearfix recommend_wrap relative">
                        <div>
                            <foreach name="goodsrand" item="v">
                                <div class="single_recommend_grid">
                                    <div class="account_info">
                                        <div class="account_head text_center">
                                            <a target="_blank" href="{:U('Home/Goods/goods_detail',array('id'=>$v['id']))}">
                                                <if condition="$v['isyy'] eq 1">
                                                    <span class="account_order"></span>
                                                </if>
                                                <img class="accountHeader_avatar" src="{$v.pic}">
                                            </a>
                                        </div>
                                        <div class="account_info_wrap">
                                            <div class="account_info_others">
                            <span class="accountNick"><a class="color_default" target="_blank" href="{:U('Home/Goods/goods_detail',array('id'=>$v['id']))}">
                                <if condition="$v['typeid'] eq 1">
                                    <span class="icon_list_platform icon_list_wechat valign_middle"></span>
                                    <elseif condition="$v['typeid'] eq 2"/>
                                    <span class="icon_list_platform icon_list_weibo valign_middle"></span>
                                    <elseif condition="$v['typeid'] eq 3"/>
                                    <span class="icon_list_platform icon_list_miaopai valign_middle"></span>
                                </if>
                                <span title="{$v.name}">{$v.name}</span></a>
                            </span>
                            <span class="accountName">
                                <if condition="$v['typeid'] eq 1">
                                    <a class="js_fancybox" href=""><img width="15" class="valign_middle" src="__PUBLIC__/images/qr_code_2x.png"></a></if>

                                <span>
                                    <if condition="$v['typeid'] eq 1">
                                        {$v.wechat}
                                        <else />
                                        {$v.instro}
                                    </if>
                                </span></span>
                                                <p class="">
                                                    <a href="javascript:void(0);" onclick="add_cart({$v.id},{$v.typeid},event,190)" class="button_add_account">加入选号车</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </foreach>
                        </div>
                    </div>
                </div>
                <!--推荐账号部分 end-->

                <!--数据分析-->
                <div class="clearfix data_analysis_wrap">
                    <div class="data_analysis">
                        <div class="clearfix tabChange_wrap">
                            <a href="javascript:;" class="fl cur">基础数据<i class="border"></i></a>
                            <a href="javascript:;" class="fl">案例/须知<i class="border"></i></a>
                        </div>

                        <!--商品详情-->
                        <p class="clearfix data_analysis_container">{$goods.contents}</p>
                        <!--案例分析-->
                        <div class="clearfix single_platform_wrap" style="display: none">
                            <p class="tool">以下信息均由账号自己提供</p>
                            <!-- ko if: accountInfo.is_famous()==1 -->
                            <div style="display: none;">
                                <h3 class="single_h3">合作案例</h3>
                                <div></div>
                            </div>
                            <!-- /ko -->
                            <div style="clear: both;"></div>
                            <div>
                                <h3 class="single_h3">预约须知</h3>
                                <div>免费、酷炫、易用的3D音乐照片秀!简单几步,马上让您的照片炫起来!</div>
                            </div>

                            <div>
                                <h3 class="single_h3">合作优势</h3>
                                <div>免费、酷炫、易用的3D音乐照片秀!简单几步,马上让您的照片炫起来!</div>
                            </div>
                        </div>

                    </div>

                    <!--人气账号-->
                    <div class="bestAccount">
                        <p><span class="message_content_border"></span>人气账号：</p>
                        <ul>
                            <foreach name="goodsbar" item="v">
                                <li class="account_info clearfix">
                                    <div class="account_head text_center">
                                        <a target="_blank" href="">
                                            <span class="account_order"></span>
                                            <img class="accountHeader_avatar" src="{$v.pic}">
                                        </a>
                                    </div>
                                    <div class="account_info_wrap">
                                        <div class="account_info_others">
                        <span class="accountNick">
                            <a target="_blank" href="">
                                <if condition="$goods['typeid'] eq 1">
                                    <span class="icon_list_platform icon_list_wechat valign_middle"></span>
                                    <elseif condition="$goods['typeid'] eq 2"/>
                                    <span class="icon_list_platform icon_list_weibo valign_middle"></span>
                                    <elseif condition="$goods['typeid'] eq 3"/>
                                    <span class="icon_list_platform icon_list_miaopai valign_middle"></span>
                                </if>
                                <span title="{$v.name}">{$v.name}</span>
                            </a>
                        </span>
                        <span class="accountName">
                            <a href="" width="15" class="valign_middle">
                            </a>
                            <span>
                                <if condition="$goods['typeid'] eq 1">
                                    {$v.wechat}
                                    <else />
                                    {$v.instro}
                                </if>
                            </span>
                        </span>
                                            <p class="">
                                                <a href="javascript:void(0);" onclick="add_cart({$v.id},{$v.typeid},event,190)" class="button_add_account">加入选号车</a>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </foreach>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <!-- 主题部分 结束 -->

        <!-- 页尾部分 开始 -->
        <!--页脚-->
    </div>
</div>
<include file="Common/footer" />
</body>
</html>