<include file="Common/header" />
<link rel="stylesheet" href="__PUBLIC__/css/pages_built.css">
<link rel="stylesheet" href="__PUBLIC__/css/all_built.css">
<style>
    .order-handling{width:500px;margin:0 auto;padding-top: 150px;text-align: center}
    .order-handling p{padding-top: 20px;font-size: 18px}
</style>
<body>
<!--navigation start-->
<include file="Common/navbox" />
<div class="content">
    <div class="process_bar">
        <div class="process_bar_line"></div>
        <ul>
            <li class="process_bar_past">
                <em><img src="__PUBLIC__/images/confirm_2x.png" width="15" /></em>
                <p>填写预约需求</p>
            </li>
            <li class="process_bar_current">
                <em>2</em>
                <p>提交已选账号</p>
            </li>
            <li class="process_bar_past">
                <em>3</em>
                <p>选择支付方式</p>
            </li>
        </ul>
    </div>
    <div class="order-handling">
        <img src="__PUBLIC__/images/loading.gif" />
        <p>订单正在处理中，请稍后</p>
    </div>
</div>
</body>
</html>