<include file="Common/header" />
<link rel="stylesheet" href="__PUBLIC__/css/pages_built.css">
<link href="__PUBLIC__/css/reset_v5.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/css/aili_inside_v10.css" rel="stylesheet" type="text/css">
<body>
<!--侧边栏-->
<include file="Common/sidebar" />
<!--navigation start-->
<notempty name="user">
    <div class="header_info">
        <div class="content">
            <span class="header_info_name">您好：<a href="{:U('Home/User/index')}"><span id="crt_username">zhongwenyu1987</span></a></span>
            <a href="{:U('Home/User/index')}">会员中心</a>
            <a href="{:U('Home/User/lgout')}">退出</a>
        </div>
    </div>
</notempty>
<div class="nav_box">
    <div class="content clearfix">
        <div class="nav_top">
            <a class="logo2x fl" href="http://www.ftx9.com"><img width="180" src="__PUBLIC__/images/logo_2x.png"></a>
            <div class="nav_list_box fl">
                <a class="nav_list_current" href="javascript:void(0)">
                    <img class="icon" width="29" src="__PUBLIC__/images/news.png"/>
                    <span>新闻资讯</span>
                    <img class="arrow_down_nav valign_middle" width="21" src="__PUBLIC__/images/nav_arrow_down_2x.png">
                </a>
                <div class="nav_list_all">
                    <dl>
                        <dt>
                            <img width="19" src="__PUBLIC__/images/nav_location_2x.png">
                            <a href="{:U('Home/User/index')}">查看账号</a>
                        </dt>
                        <dd>
                            <a href="/weixin.html" target="_blank">微信公众号</a>
                            <i></i>
                            <a href="/weibo.html" target="_blank">新浪微博</a>
                            <i></i>
                            <a href="/shipin.html" target="_blank">视频自媒体</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <img width="18" src="__PUBLIC__/images/nav_calendar_2x.png">
                            <a href="{:U('Home/User/index')}" target="_blank">订单管理</a>
                        </dt>
                        <dd>
                            <a href="{:U('Home/User/index')}" target="_blank">待支付</a>
                            <i></i>
                            <a href="{:U('Home/User/index')}" target="_blank">待执行</a>
                            <i></i>
                            <a href="{:U('Home/User/index')}" target="_blank">已完成</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <img width="14" src="__PUBLIC__/images/nav_paper_2x.png" class="paper">
                            <a class="nav_clear_border" href="{:U('Home/Cart/cart')}" target="_blank">选号车</a>
                        </dt>
                        <dd>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <img width="15" src="__PUBLIC__/images/nav_user_2x.png" class="user">
                            <a href="{:U('Home/User/index')}" target="_blank">个人中心</a>
                        </dt>
                        <dd>
                            <a target="_blank" href="{:U('Home/User/index')}">密码修改</a>
                            <i></i>
                            <a target="_blank" href="{:U('Home/User/index')}">资料编辑</a>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="nav_top_link fl">
                <a target="" href="/weixin.html" class="color_high_light">微信公众号<img src="__PUBLIC__/images/new_red.png" width="28" class="tags"></a>
                <a target="" href="/weibo.html" class="color_high_light">新浪微博<img src="__PUBLIC__/images/new_red.png" width="28" class="tags"></a>
                <a target="" href="/shipin.html" class="color_high_light">视频自媒体<img src="__PUBLIC__/images/new_red.png" width="28" class="tags"></a>
                <a target="" href="">朋友圈</a>
                <i></i>
                <a target="" href="">微播圈</a>
                <i></i>
                <a target="" href="">活动管理</a>
                <i></i>
            </div>
            <empty name="user">
                <div class="nav_top_btn">
                    <a target="_blank" href="/regist">注册</a>
                    <a target="_blank" href="http://www.ftx9.com">登录</a>
                </div>
            </empty>
        </div>
    </div>
</div>
<div class="zartcile_container w1160 clearflt">
    <div class="zartcile_main fl">
        <h1 class="zarticle_title">{$news.newstitle}</h1>
        <div class="zarticle_tip clearflt">
            <div class="zfrom fl">时间：{$news.addtime|date="Y-m-d",###}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;来源：<a class="zfrom_link">{$news.newsfrom}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;作者：{$news.author}</div>
            <div class="zarticle_shares bdsharebuttonbox fr bdshare-button-style0-16"></div>
        </div>
        <div class="zarticle_inner" id="icontent" style="margin-top: 15px">{$news.newscontent}</div>


        <h2 class="zmain_title">热点阅读<span class="zsquare"></span></h2>
        <div class="zlink_box zlink_box1">
            <div class="zlink_list clearflt">
                <foreach name="hotnews" item="v">
                    <a class="zlink" href="/news/{$v['id']}.html" title="{$v.newstitle}" target="_blank">
                        <img src="{$v.recopic}" alt="{$v.newstitle}" width="180" height="150">
                        <span class="zlink_title">{$v.newstitle}</span>
                    </a>
                </foreach>
            </div>
        </div>
    </div>
    <div class="zarticle_side fr">
        <h2 class="zside_title">精彩推荐<span class="zsquare"></span></h2>
        <div class="zside_section mt25">
            <div class="zlink_box3 clearflt">
                <foreach name="recronews" item="v" key="k">
                    <in name="k" value="0,1">
                        <a class="zlink" href="/news/{$v['id']}.html" title="秋季流行元素在这" target="_blank">
                            <img src="{$v.recopic}" alt="{$v.newstitle}" width="140" height="140">
                            <span class="zlink_title">{$v.newstitle}</span>
                        </a>
                    </in>
                </foreach>
            </div>
            <ul class="zhot_sublist zhot_sublist2">
                <foreach name="recronews" item="v" key="k">
                    <in name="k" value="2,3,4,5,6">
                        <li class="zhot_subitem">
                            <a class="zhot_sublink" href="/news/{$v['id']}.html" title="{$v.newstitle}!" target="_blank">
                                <i class="zdot fl"></i>{$v.newstitle}!</a>
                        </li>
                    </in>
                </foreach>
            </ul>
        </div>
        <h2 class="zside_hot_title mt25">热点排行</h2>
        <div class="zpopular_box">
            <ul class="zpopular_list">
                <foreach name="recronews" item="v" key="k">
                    <in name="k" value="0,1,2">
                        <li class="zpopular_item clearflt"> <i class="znum znum{$k|return_rank=###,1}"></i> <a class="zpopular_pic" href="/news/{$v['id']}.html" title="{$v.newstitle}" target="_blank"><img src="{$v.recopic}" alt="{$v.newstitle}" width="105" height="105"></a>
                            <div class="zpopular_desc">
                                <h3 class="zpopular_item_title"><a class="zpopular_link" href="/news/{$v['id']}.html" title="{$v.newstitle}" target="_blank">{$v.newstitle}</a></h3>
                                <p class="zpopular_p">{$v.instro}<a class="zpopular_detail" href="/news/{$v['id']}.html" title="详情" target="_blank"> &lt;详情&gt; </a></p>
                            </div>
                        </li>
                    </in>
                </foreach>
            </ul>
            <ul class="zpopular_list2">
                <foreach name="recronews" item="v" key="k">
                    <in name="k" value="0,1,2">
                        <li class="zpopular_item2 clearflt"> <i class="znum znum{$k|return_rank=###,4}"></i> <a class="zpopular_link{$k|return_rank=###,4}" href="/news/{$v['id']}.html" title="{$v.newstitle}" target="_blank">{$v.newstitle}</a> </li>
                    </in>
                </foreach>
            </ul>
        </div>
    </div>
</div>
<include file="Common/footer" />
</body>
</html>