<include file="Common/min-header" />
<body>
<ul class="tip_title">
    <li class="tender_cur"><a>用户中心</a><b></b></li>
    <div class="clear"></div>
</ul>
<div style="margin-top: 20px; margin-left: 10px;">
    <div style="padding:20px 40px;">
        <p style="line-height:30px"><empty name="user['username']">{$user.account}<else />{$user.username}</empty> (广告主)</p>
    </div>
    <ul class="orderinfos">
        <li class="order_weixin fl mr40">
            <i class="iconfont iconweixin"></i>
            <div class="orderinfos_text">
                <div class="orderinfos_title">
        <span class="fl">
          待支付订单
        </span>
                    <a class="blankness blankness-white fr" href="{:U('Home/User/orderlist',array('paystatus'=>0))}" target="mainBox">
                        点击查看
                    </a>
                </div>
                <div class="blank10">
                </div>
                <a class="orderinfos_a" href="{:U('Home/User/orderlist',array('paystatus'=>0))}" target="mainBox">
                    {$count1}            </a>
            </div>
        </li>
        <li class="order_weibo fl mr40">
            <i class="iconfont iconweibo"></i>
            <div class="orderinfos_text">
                <div class="orderinfos_title">
        <span class="fl">
          执行中订单
        </span>
                    <a class="blankness blankness-white fr" href="{:U('Home/User/orderlist',array('isback'=>0))}" target="mainBox">
                        点击查看
                    </a>
                </div>
                <div class="blank10">
                </div>
                <a class="orderinfos_a" href="{:U('Home/User/orderlist',array('isback'=>0))}" target="mainBox">
                    {$count2}            </a>
            </div>
        </li>
        <li class="order_pengyouquan fl mr40">
            <i class="iconfont iconlive"></i>
            <div class="orderinfos_text">
                <div class="orderinfos_title">
        <span class="fl">
          已完成订单
        </span>
                    <a class="blankness blankness-white fr" href="{:U('Home/User/orderlist',array('isback'=>1))}" target="mainBox">
                        点击查看
                    </a>
                </div>
                <div class="blank10">
                </div>
                <a class="orderinfos_a" href="{:U('Home/User/orderlist',array('isback'=>1))}" target="mainBox">
                    {$count3}            </a>
            </div>
        </li>
    </ul>

</div>
</body>
</html>