<include file="Common/min-header" />
<body>
<ul class="tip_title">
    <li class="tender_cur"><a>密码修改</a><b></b></li>
    <div class="clear"></div>
</ul>
<form action="{:U('Home/User/pwdchange')}" id="form1" method="post" onsubmit="return false">
    <div class="user-form">
        <div class="uf-mod">
            <span class="spa1">请输入密码：</span>
            <input type="password" name="password" value="" />
        </div>
        <div class="uf-mod">
            <span class="spa1">请再次输入密码：</span>
            <input type="password" name="repassword" value="" />
        </div>
        <div class="uf-mod" style="padding-top: 15px">
            <a href="javascript:void(0)" class="uf-sub" onclick="pwd_check()">保存</a>
        </div>
    </div>
</form>
<script>
    function pwd_check(){
        if($("input[name='password']").val() == ""){
            layer.msg("请输入密码！");
            return false;
        }
        if($("input[name='password']").val() != $("input[name='repassword']").val()){
            layer.msg("两次密码输入不一致！");
            return false;
        }
        ajax_add('form1','{:U('Home/user/pwdchange')}');
    }
</script>
</body>
</html>