<include file="Public/header" />
<body>
<div class="mod-box">
    <div class="mod-title">
        <h5>合作方式</h5>
    </div>
    <div class="mod-search form-group">
        <a href="{:U('Admin/Goods/add_hzmode',array('act'=>'add'))}" class="fr btn btn-primary ma"><span class="glyphicon glyphicon-plus glyadd"></span>新增合作方式</a>
    </div>
    <div class="mod-table">
        <table cellspacing="0" class="table table-striped table-bordered ">
            <thead>
            <tr>
                <th style="width:100px">ID</th>
                <th style="width:500px">方式名称</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <foreach name="list" item="v">
                <tr id="{$v.id}">
                    <td class="center">{$v.id}</td>
                    <td><span class="glyphicon glyphicon-plus merge-add" onclick="merge_add(this)"></span>{$v.name}</td>
                    <td></td>
                </tr>
                <foreach name="v['child']" item="k">
                    <tr id="{$v.id}-{$k.id}" style="display: none">
                        <td class="center">{$k.id}</td>
                        <td class="merge2"><span class="merge-mod">|—&nbsp;</span>{$k.hzname}</td>
                        <td>
                            <a href="{:U('Admin/Goods/add_hzmode',array('act'=>'edit','id'=>$k['id']))}" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-pencil pr3"></span>编辑</a>
                            <a href="javascript:void(0);" onclick="del('{:U('Admin/Api/del')}','hzmode','id','{$k[id]}')" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash pr3"></span>删除</a>
                        </td>
                    </tr>
                </foreach>
            </foreach>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>