<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="__PUBLIC__/css/base.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/css/style_list.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="__PUBLIC__/css/cmp_all.css" type="text/css">
    <link href="__PUBLIC__/css/index.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/css/gg.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="__PUBLIC__/css/my1.css" type="text/css">
    <link href="__PUBLIC__/css/my2.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="__PUBLIC__/css/homestyle.css" type="text/css">
    <link rel="stylesheet" href="__PUBLIC__/css/pages_built.css" type="text/css">
    <link rel="shortcut icon" href="__PUBLIC__/images/icon.png">
    <script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/style.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
    <title>粉天下</title>
</head>