@charset "gb2312";
body{background:#fff;_background-image:url(about:blank);_background-attachment:fixed;}
body,html{_overflow-x:hidden;_overflow-y:auto;}
ul,li{list-style:none;}
a{color:#999;text-decoration:none;blr:expression(this.onFocus=this.blur());}
a:focus,input,button,select,textarea{outline:none;}
img{border:none;vertical-align:top;}
a:hover,.zfootprints a:hover{color:#e60012;}
.zfrom,.zlink_title,.zhot_sublink,.zpopular_link2,.zlabel_link{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.zicon,.zarticle_shares .zicon{background-image:url(http://images.aili.com/aili_ty_inside_v2/icon.png);background-repeat:no-repeat;}
.zfootprints{border-bottom:1px solid #e6e6e6;}
.zartcile_main{width:820px;overflow:hidden;}
.zarticle_side{width:300px;padding-top:50px;overflow:hidden;}
.zfootprints{padding:10px 0;}
.zfootprints a,.zfootprints span{float:left;color:#525252;font-size:14px;line-height:30px;}
.zfootprints span{margin:0 6px;}
.zarticle_title{font-size:32px;line-height:1.5;color:#222;width:780px;margin:40px auto 0;text-align:center;}
.zarticle_width{width:708px;font-size:16px;line-height:30px;color:#525252;margin:40px auto 0;}
.zarticle_width img{max-width:600px;_width:expression((document.documentElement.clientWidth||document.body.clientWidth)>600?"600px":"");overflow:hidden;display:block;margin:0 auto;}
.zarticle_tip{width:780px;height:70px;margin:40px auto 0;background-color:#f5f5f5;}
.zarticle_shares{padding:20px 20px 0 0;width:244px;}
.zarticle_shares .ztsina,.zarticle_shares .zweixin,.zarticle_shares .zqzone,.zarticle_shares .zdouban{width:30px;height:30px;margin:0 0 0 16px;padding:0;float:left;}
.zarticle_shares .ztsina{background-position:0 0;}
.zarticle_shares .ztsina:hover{background-position:-40px 0;filter:alpha(opacity=100);opacity:1;}
.zarticle_shares .zweixin{background-position:0 -40px;}
.zarticle_shares .zweixin:hover{background-position:-40px -40px;filter:alpha(opacity=100);opacity:1;}
.zarticle_shares .zqzone{background-position:0 -80px;}
.zarticle_shares .zqzone:hover{background-position:-40px -80px;filter:alpha(opacity=100);opacity:1;}
.zarticle_shares .zdouban{background-position:0 -120px;}
.zarticle_shares .zdouban:hover{background-position:-40px -120px;filter:alpha(opacity=100);opacity:1;}
.zshares_tip{float:left;font-size:14px;line-height:30px;color:#999;}
.zfrom{padding-top:20px;font-size:16px;line-height:30px;color:#525252;width:480px;padding-left:24px;}
.zfrom_link{color:#525252;}
.zad{margin:0 auto;}
.zmain_title,.zside_title{margin-top:15px;height:52px;line-height:52px;font-size:22px;color:#222;position:relative;border-bottom:1px solid #222;}
.zside_title{text-align:center;}
.zsquare{position:absolute;width:10px;height:10px;overflow:hidden;background-color:#e60012;left:40px;bottom:-5px;}
.zside_title .zsquare{left:50%;margin-left:-5px;}
.zlink_container{width:380px;}
.zlink_box{overflow:hidden;}
.zlink_box2{width:380px;padding:12px 0 18px;}
.zlink_list{width:852px;}
.zlink{position:relative;overflow:hidden;color:#fff;}
.zlink_box1 .zlink{float:left;width:180px;height:150px;margin:33px 33px 0 0;}
.zlink_box2 .zlink{display:block;width:100%;height:200px;}
.zlink_box3{width:320px;}
.zlink_box3 .zlink{float:left;margin-right:20px;}
.zlink_title{height:41px;line-height:40px;font-size:14px;text-align:center;position:absolute;padding:0 10px;bottom:0;left:0;background:url(http://images.aili.com/aili_ty_inside_v2/txt_bg.png) repeat-x;}
.zlink_box1 .zlink_title{width:160px;}
.zlink_box2 .zlink_title{width:360px;font-size:16px;}
.zlink_box3 .zlink_title{width:120px;}
.zhot_nav{height:63px;position:relative;}
.zhot_bor{position:absolute;height:3px;overflow:hidden;background-color:#dbdbdb;bottom:1px;width:100%;}
.zhot_nav .zhot_link{float:left;width:25%;text-align:center;height:58px;line-height:58px;color:#222;font-size:18px;position:relative;z-index:2;}
.zhot_nav .zhot_link_active{font-weight:bold;border-bottom:5px solid #e60012;}
.zhot_list{padding-top:18px;position:relative;height:448px;overflow:hidden;}
.zhot_item{vertical-align:top;display:none;position:absolute;top:18px;left:0;width:100%;height:460px;}
.zhot_sublist{width:412px;height:450px;}
.zhot_sublist2{width:300px;padding:20px 0 10px;border-bottom:1px dotted #c9c9c9;height:auto;}
.zhot_sublink{color:#333;font-size:16px;height:45px;line-height:45px;display:block;padding-left:16px;position:relative;width:390px;}
.zhot_sublist2 .zhot_sublink{font-size:14px;height:34px;line-height:34px;width:278px;}
.zdot{width:2px;height:2px;position:absolute;left:0;top:50%;margin-top:-1px;background-color:#3f3f3f;overflow:hidden;}
.zhot_sublist2 .zdot{left:2px;}
.zhot_sublink:hover .zdot{background-color:#e60012;}
.zside_section{overflow:hidden;margin-bottom:25px;}
.zside_hot_title{height:50px;line-height:50px;color:#fff;font-size:18px;font-weight:normal;background-color:#373737;text-align:center;}
.zpopular_list2{margin-top:30px;padding-top:20px;border-top:1px dotted #dadada;}
.zpopular_item{vertical-align:top;padding-top:30px;}
.znum{float:left;width:30px;height:60px;background-image:url(http://images.aili.com/aili_ty_inside_v2/num.png);background-repeat:no-repeat;margin-top:4px;}
.znum1{background-position:0 0;}
.znum2{background-position:0 -135px;}
.znum3{background-position:0 -268px;}
.znum4{background-position:0 -350px;}
.znum5{background-position:0 -390px;}
.znum6{background-position:0 -430px;}
.znum7{background-position:0 -470px;}
.znum8{background-position:0 -510px;}
.zpopular_pic{float:left;width:105px;margin-right:12px;height:105px;overflow:hidden;}
.zpopular_desc{float:left;width:130px;}
.zpopular_item_title{font-size:14px;height:48px;line-height:24px;color:#333;padding-top:5px;font-weight:normal;overflow:hidden;}
.zpopular_link{color:#333;}
.zpopular_p{color:#999;height:44px;overflow:hidden;line-height:22px;font-size:12px;padding-top:8px;}
.zpopular_detail{color:#000;}
.zpopular_box{border:1px solid #eee;border-top:none;padding:0 10px 27px;margin-bottom:25px;}
.zpopular_item2{vertical-align:top;}
.zpopular_link2{float:left;width:242px;margin-left:5px;line-height:40px;font-size:14px;color:#333;}
.zpopular_list2 .znum{height:24px;margin-top:11px;width:24px;margin-left:6px;}
.zlabel_title{font-size:22px;line-height:32px;color:#333;text-align:center;}
.zlabel_box{overflow:hidden;}
.zlabel_list{width:309px;padding-top:5px;}
.zlabel_link{float:left;margin:10px 9px 0 0;width:84px;padding:0 5px;background-color:#f3f3f3;font-size:12px;height:30px;line-height:30px;color:#666;text-align:center;}
.zartcile_container{padding-bottom:40px;}
.zabsolute{position:relative;}
.zfixed{position:relative;z-index:100;top:0;background-color:#fff;}
.mBqSm{font-size:15px;line-height:25px;color:#e60012;text-align:center;}
.zfam{width:550px;margin:0 auto;}
.tBwrc{height:28px;line-height:28px;overflow:hidden;width:708px;margin:20px auto 0;}
.tBwrc span{height:28px;display:inline-block;background:url(http://images.aili.com/aili_v4/t_bgf.gif?a) no-repeat 8px -888px;background-color:#222;color:#fff;padding:0 10px 0 25px;margin-right:7px;}
.tBwrc a{height:28px;display:inline-block;margin-right:7px;background:#e60012;color:#fff;padding:0 15px;}
.tBwrc a:hover{color:#fff;transition:color 0.2s ease-in-out 0s;opacity:0.8;filter:Alpha(Opacity=80);-moz-opacity:0.8;}
.zpageNav{overflow:hidden;width:708px;margin:0 auto 20px;}
.zpageNav h2{line-height:40px;height:40px;font-weight:normal;font-size:18px;color:#333;}
.zpageNav ul{overflow:hidden;width:100%;float:left;}
.zpageNav ul li{padding:5px 0;float:left;width:354px;line-height:normal;height:24px;overflow:hidden;}
.zpageNav ul li .num{float:left;height:24px;line-height:24px;background:#ebebeb;padding:0 6px;color:#666;overflow:hidden;font-family:Arial;}
.zpageNav ul li .num:hover,.zpageNav ul li .hover{background:#222;color:#fff;}
.zpageNav ul li .textList{float:left;width:294px;color:#666;height:24px;line-height:24px;overflow:hidden;padding-left:10px;font-size:14px;}
.zpageNav ul li .textList:hover{color:#e60012;}
/* 页码 */
.linle-pag0{width:100%;height:36px;text-align:center;overflow:visible;padding:60px 0 25px;}
.linle-pag{float:left;position:relative;overflow:visible;left:50%;height:36px;font-size:15px;color:#666;}
.linle-pag a,.linle-pag span{margin:0 4px;float:left;position:relative;right:50%;padding:0 13px;line-height:34px;border:#ebebeb 1px solid;color:#666;height:34px;border-radius:2px;}
.linle-pag a:hover{background:#212121;color:#fff;border:#212121 1px solid;}
.linle-pag .page_bg,.linle-pag .page_bg:hover{background:#212121;color:#fff;border:#212121 1px solid;}
/* 底部搜索 && 底部 */
.tFSrc{height:45px;overflow:hidden;padding:34px 0 39px;}
.tFSrcC{width:384px;height:45px;margin:0 auto;overflow:hidden;}
.tFSrcL{width:298px;height:43px;overflow:hidden;border:1px solid #ddd;}
.tFSrcL span{width:43px;height:43px;background:url(http://images.aili.com/aili_v4/t_bga.gif) no-repeat -444px -164px;}
.tFSrcL input{width:250px;padding:13px 0 0 0;border:0;color:#999;background:0}
.tFsub{width:80px;height:45px;text-align:center;line-height:45px;color:#ddd;background:#222;border:0;cursor:pointer;}
.t4ConFot{background:#f3f3f3;}
.t4CFotT{background:#efefef;padding:10px 0 0;border-top:1px solid #ddd;border-bottom:1px solid #ddd;overflow:hidden;}
.t4CFotT .w980{background:none;}
.t4CFotT ul{float:left;padding:0 25px 8px 19px;border-left:1px solid #ddd;width:150px;}
.t4CFotT ul li{height:31px;overflow:hidden;line-height:31px;padding-left:5px;}
.t4CFotT ul li a{font-size:14px;color:#333;}
.t4CFotT ul .fir{height:39px;line-height:39px;border-bottom:1px solid #ddd;}
.t4CFotT ul .fir a{font-size:20px;color:#333;}
.t4CFotT ul .fir a:hover,.t4CFotT ul li a:hover{color:#e60012;}
.t4CFotP{height:45px;line-height:45px;text-align:center;background:#222;color:#ccc;}
.t4CFotP a{padding:0 14px;color:#ccc;}
.t4CFotP a:hover{color:#bbb;}
.t4CFotB{text-align:center;color:#666;line-height:30px;padding-top:5px;overflow:hidden;border-top:1px solid #efefef;width:100%;}
/* logo && 导航 */
.zlogo_inner{width:260px;}
.zlogo .zad{width:900px;height:100px;overflow:hidden;}
.znav_container,.znav_container .admin_block{height:60px;background-color:#141414;}
.znav_link{float:left;width:42px;font-size:18px;line-height:28px;color:#fff;margin-top:16px;}
.znav_link:hover{color:#e60012;}
.znav_sep{float:left;width:1px;height:15px;overflow:hidden;background-color:#434343;margin:23px 23px 0 18px;}
/* 列表 */
.mTyL{width:820px;}
.mTyL ul{width:100%;}
.mTyL li{padding:40px 26px 40px 0;border-bottom:1px solid #eee;float:left;width:794px;}
.mTyL li.mTyL_N{border-bottom:none;padding-bottom:0;}
.mTyL_L{width:250px;height:180px;position:relative;float:left;overflow:hidden;}
.mTyL_R{width:520px;float:right;overflow:hidden;}
.mTyL_R h4{width:100%;font-size:22px;line-height:28px;height:28px;font-weight:normal;padding-top:15px;overflow:hidden;}
.mTyL_R h4 a,.mTyL_RTe a,.mTyR_aTRTe a,.mTyR_aTR h4 a,.mTyR_aUlB h4 a{color:#333;}
.mTyL_R h4 a:hover,.mTyL_RTe a:hover,.mTyR_aTR h4 a:hover,.mTyR_aTRTe a:hover,.mTyR_aUlB h4 a:hover,.mTyR_bTe a:hover{color:#e60012;text-decoration:none;}
.mTyL_RTe{padding-top:10px;}
.mTyL_RTe,.mTyR_aTRTe{width:100%;font-size:14px;line-height:24px;color:#999;overflow:hidden;}
.mTyL_RB{width:100%;line-height:32px;color:#999;margin-top:15px;overflow:hidden;}
.mTyL_RB_Icon{width:auto;height:30px;line-height:30px;font-size:14px;padding:0 12px;border:1px solid #bbb;border-radius:2px;margin-right:12px;float:left;display:block;overflow:hidden;}
.mTyL_RB_Icon1{width:auto;height:32px;padding-left:20px;background:url(http://images.aili.com/lifestyle_index_v8/mTa.gif) no-repeat 0 9px;margin-right:12px;float:right;display:block;overflow:hidden;}
.mTyL_RB_Icon2{width:auto;height:32px;padding-left:27px;background:url(http://images.aili.com/lifestyle_index_v8/mTa.gif) no-repeat 0 -36px;float:left;display:block;overflow:hidden;}
/* 专题 列表 */
.zlist_nav_box{text-align:center;padding-top:39px;}
.zlist_nav{display:inline-block;*zoom:1;*display:inline;}
.zlist_nav a{float:left;margin:0 30px;position:relative;height:42px;line-height:42px;font-size:20px;color:#333;}
.zlist_nav_bor{width:20px;height:2px;overflow:hidden;background-color:#e60012;position:absolute;left:50%;margin-left:-10px;bottom:0;display:none;}
.zlist_nav .zlist_nav_current,.zlist_nav a:hover{color:#e60012;}
.zlist_nav_current .zlist_nav_bor{display:inline;}
/* 图集 */
.zpic_label_box{padding-top:10px;}
.zpic_label_link{float:left;font-size:14px;color:#999;margin:10px 10px 0 0;}
.zarrow_left{float:left;width:14px;height:29px;background:url(http://images.aili.com/aili_ty_inside_v2/arrow_left.gif) no-repeat;}
.zpic_label_name{float:left;padding:0 8px 0 6px;height:27px;line-height:27px;border:1px solid #dbdbdb;border-left:none;}
.zpic_label_link:hover{color:#212121;}
.zpic_label_link:hover .zarrow_left{background-position:0 -29px;}
.zpic_label_link:hover .zpic_label_name{border-color:#999;box-shadow:2px 2px 4px rgba(0,0,0,0.3);}
.show_img{margin-left:auto;margin-right:auto;text-align:center;padding-top:50px;position:relative;width:728px;}
.picinfo{padding-top:30px;text-align:left;width:598px;margin:0 auto;}
.show_imgL{cursor:pointer;width:364px;position:absolute;top:50px;left:0;background:url(http://images.aili.com/aili_v4/1.gif) no-repeat;z-index:2;}
.show_imgR{cursor:pointer;width:364px;position:absolute;top:50px;left:400px;background:url(http://images.aili.com/aili_v4/1.gif) no-repeat;z-index:2;}
.zpic_prev, .zpic_next{width:24px;height:45px;position:absolute;top:300px;cursor:pointer;background-image:url(http://images.aili.com/aili_ty_inside_v2/pic_btn.png);z-index:3;}
.zpic_prev{left:0;background-position:0 0;}
.zpic_prev:hover{background-position:-24px 0;}
.zpic_next{right:0;background-position:0 -45px;}
.zpic_next:hover{background-position:-24px -45px;}
.znext_gallery{position:absolute;width:355px;height:120px;right:38px;top:300px;background-color:#f5f5f5;display:none;z-index:4;}
.znext_gallery_thumb{width:90px;height:90px;margin:16px 0 0 16px;overflow:hidden;}
.znext_gallery_txt{padding:16px 26px 0 0;width:205px;text-align:left;}
.znext_gallery_tip{font-size:14px;line-height:30px;color:#000;border-bottom:1px solid #dbdbdb;font-weight:bold;}
.znext_gallery_title{font-size:14px;line-height:26px;height:52px;overflow:hidden;font-weight:normal;padding-top:6px;}
.znext_gallery_link{color:#666;}
.img_box{position:relative;}