@charset "utf-8";

/* --- Reset default browser CSS.--- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
}
:focus {/* remember to define focus styles! */
    outline: 0;
}
ol, ul {
    list-style: none;
}
table {/* tables still need 'cellspacing="0"' in the markup */
    border-collapse: separate;
    border-spacing: 0;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}
img {
    border: 0;
}
/*链接*/
a{text-decoration: none}
a:link,a:visited,a:hover,a:active{text-decoration: none}
a{
    color: #3299FE;
    text-decoration: none;
    outline: none;
    blr:expression(this.onFocus=this.blur());/*IE下去掉当前状态交点框*/
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body{
    font-family: 'Microsoft YaHei','SimSun';
    font-size: 12px;
    line-height: 18px;
}
em {
    font-style:normal;
}
.fl{
    float: left;
}
.fr{
    float: right;
}

/*常用*/
.relative{position: relative}
.morecat{height:30px}
.u-flyer{display: block;width: 30px;height: 30px;border-radius: 30px;position: fixed;z-index: 9999;}

