.pos-relative {position: relative;}
.remaining-time strong {background: #C71C60;color: #fff;line-height: 49px;font-size:26px;font-family: Arial;padding: 0 10px;margin-right: 10px;border-radius: 5px;box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);}
.remaining-time .time_info {float: left;line-height: 49px;color: #c71c60;font-size: 32px;margin: 0 10px;}
.countdown-time{ color: #fff;line-height: 49px;font-size:22px;}
.countdown-time .time_info {background: #c9302c;font-family: Arial;padding: 0px 10px 0px 0px;border-radius: 5px;box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); cursor: pointer;}
.countdown-time .time_info span.time_title{ background: #38a045;padding: 0 10px;margin-right: 10px;border-radius: 5px 0px 0px 5px;}
.item-title .unit {background: none;line-height: 49px;font-size: 24px;padding: 0 10px;float: left;}
.iconfont {font-family: FontAwesome!important;font-size: 16px;font-style: normal;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;-webkit-transition: font-size 0.25s ease-out 0s;-moz-transition: font-size 0.25s ease-out 0s;transition: font-size 0.25s ease-out 0s;}
.iconcss a {color: #06b28c;font-size: 18px;}
.iconlock:before{content:"\f023";}
.iconedit:before{content: "\f0f6"}
.iconuser:before{content: "\f007"}
.icondanger:before{content: "\f0f3";color:#d9534f}
.iconpay:before{content: "\f09d"}
.iconwork:before{content: "\f110"}
.iconover:before{content: "\f00c"}
.pageation {display: inline-block;padding-left: 0;margin: 20px 0;border-radius: 4px}
.pageation>a {display: inline}
.pageation>a, .pageation>span {position: relative;float: left;padding: 6px 12px;margin-left: -1px;line-height: 1.42857143;color: #337ab7;text-decoration: none;background-color: #fff;border: 1px solid #ddd}
.pageation>b {position: relative;float: left;padding: 6px;margin-left: -1px;line-height: 1.42857143;color: #337ab7;text-decoration: none;}
.pageation>b.inbtn {padding: 0px 6px;}
.pageation>a:first-child, .pageation>span:first-child {margin-left: 0;border-top-left-radius: 4px;border-bottom-left-radius: 4px}
.pageation>a:last-child, .pageation>span:last-child {border-top-right-radius: 4px;border-bottom-right-radius: 4px}
.pageation>a:focus, .pageation>a:hover, .pageation>span:focus,.pageation>span:hover {color: #23527c;background-color: #eee;border-color: #ddd}
.pageation>a.current, .pageation>a.current:focus, .pageation>a.active:hover,.pageation>span.current, .pageation>span.current:focus, .pageation>span.active,.pageation>span.active:focus, .pageation>span.active:hover {z-index: 2;color: #fff;cursor: default;background-color: #337ab7;border-color: #337ab7}
.pageation>a.disabled, .pageation>a.disabled:focus, .pageation>a.disabled:hover,.pageation>span.disabled, .pageation>span.disabled:focus, .pageation>span.disabled:hover{color: #777;cursor: not-allowed;background-color: #fff;border-color: #ddd}
.pageation-lg>a, .pageation-lg>span {padding: 10px 16px;font-size: 18px}
.pageation-lg>a:first-child, .pageation-lg>span:first-child {border-top-left-radius: 6px;border-bottom-left-radius: 6px}
.pageation-lg>a:last-child, .pageation-lg>span:last-child {border-top-right-radius: 6px;border-bottom-right-radius: 6px}
.pageation-sm>a, .pageation-sm>span {padding: 5px 10px;font-size: 12px}
.pageation-sm>a:first-child, .pageation-sm>span:first-child {border-top-left-radius: 3px;border-bottom-left-radius: 3px}
.pageation-sm>a:last-child, .pageation-sm>span:last-child {border-top-right-radius: 3px;border-bottom-right-radius: 3px}
.font-size12 {font-size: 12px;}
/*���� begin*/
.fl {float: left;}
.fr {float: right;}
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.clearfix {display: inline-table;}

/*面包屑导航 begin*/
.location{ height:39px; line-height:39px;}
.location a{ color:#000;}
.customerbtn{display:block;height:22px;float:right;padding:5px 0;}
.customerbtn a{ display:block;width:80px; height:22px;float:left;}
.customerbtn span{ line-height: 22px;height:22px;float:left; display:block; width:70px;}
.customerbtn a,.customerbtn a:hover{ text-decoration:none;}
.customerbtn span{  font-size:14px;}
/*背景*/
.back_ff{ background:#fff;}
.back_f5{ background:#f5f5f5;}
.back_h{ background:#e83737; color:#fff;}

/*高度*/
.he1 {height: 10px;}
.he2 {height: 20px;}
.he3 {height: 30px;}
.he3_5{height: 35px;}
.he4 {height: 40px;}
.he4_5 {height: 45px;}
.he5 {height: 50px;}
.he6 {height: 60px;}
.he7 {height: 70px;}
.he8 {height: 80px;}
.he9 {height: 90px;}
.he10 {height: 100px;}
.he11 {height: 110px;}
.he13 {height: 130px;}
.he105 {height: 104px;}
.he12 {height: 120px;}
.he15 {height: 150px;}
.he18 {height: 180px;}
.he20 {height: 200px;}
.he30 {height: 300px;}
.he40 {height: 400px;}
.he50 {height: 500px;}
.he60 {height: 600px;}
.he65 {height: 650px;}

/*margin*/
.ma{margin:0 auto;}
.mb1 {margin-bottom: 1px;margin-bottom: 1px!important;}
.mb2 {margin-bottom: 2px;margin-bottom: 2px!important;}
.mb3 {margin-bottom: 3px;margin-bottom: 3px!important;}
.mb4 {margin-bottom: 4px;margin-bottom: 4px!important;}
.mb5 {margin-bottom: 5px;margin-bottom: 5px!important;}
.mb6 {margin-bottom: 6px;margin-bottom: 5px!important;}
.mb7 {margin-bottom: 7px;margin-bottom: 6px!important;}
.mb8 {margin-bottom: 8px;margin-bottom: 7px!important;}
.mb9 {margin-bottom: 9px;margin-bottom: 8px!important;}
.mb10 {margin-bottom: 10px;margin-bottom: 10px!important;}
.mb11 {margin-bottom: 11px;margin-bottom: 11px!important;}
.mb12 {margin-bottom: 12px;margin-bottom: 12px!important;}
.mb13 {margin-bottom: 13px;margin-bottom: 13px!important;}
.mb14 {margin-bottom: 14px;margin-bottom: 14px!important;}
.mb15 {margin-bottom: 15px;margin-bottom: 15px!important;}
.mb16 {margin-bottom: 16px;margin-bottom: 16px!important;}
.mb17 {margin-bottom: 17px;margin-bottom: 17px!important;}
.mb18 {margin-bottom: 18px;margin-bottom: 18px!important;}
.mb19 {margin-bottom: 19px;margin-bottom: 19px!important;}
.mb20 {margin-bottom: 20px;margin-bottom: 20px!important;}
.mb30 {margin-bottom: 30px;margin-bottom: 30px!important;}
.mb40 {margin-bottom: 40px;margin-bottom: 40px!important;}
.mb50 {margin-bottom: 50px;}
.mb60 {margin-bottom: 60px;}
.mb70 {margin-bottom: 70px;}

.mt1 {margin-top: 1px;margin-top: 1px!important;}
.mt2 {margin-top: 2px;margin-top: 2px!important;}
.mt3 {margin-top: 3px;margin-top: 3px!important;}
.mt4 {margin-top: 4px;margin-top: 4px!important;}
.mt5 {margin-top: 5px;margin-top: 5px!important;}
.mt6 {margin-top: 6px;margin-top: 6px!important;}
.mt7 {margin-top: 7px;margin-top: 7px!important;}
.mt8 {margin-top: 8px;margin-top: 8px!important;}
.mt9 {margin-top: 9px;margin-top: 9px!important;}
.mt10 {margin-top: 10px;margin-top: 10px!important;}
.mt11 {margin-top: 11px;margin-top: 11px!important;}
.mt12 {margin-top: 12px;margin-top: 12px!important;}
.mt13 {margin-top: 13px;margin-top: 13px!important;}
.mt14 {margin-top: 14px;margin-top: 14px!important;}
.mt15 {margin-top: 15px;margin-top: 15px!important;}
.mt16 {margin-top: 16px;margin-top: 16px!important;}
.mt17 {margin-top: 17px;margin-top: 17px!important;}
.mt18 {margin-top: 18px;margin-top: 18px!important;}
.mt19 {margin-top: 19px;margin-top: 19px!important;}
.mt20 {margin-top: 20px;margin-top: 20px!important;}
.mt25 {margin-top: 25px;}
.mt30 {margin-top: 30px;margin-top: 30px!important;}
.mt33 {margin-top: 33px;}
.mt35 {margin-top: 35px;}
.mt40 {margin-top: 40px;margin-top: 40px!important;}
.mt50 {margin-top: 50px;}
.mt60 {margin-top: 60px;}
.mt80 {margin-top: 80px;}
.mt125 {margin-top: 125px;}

.ml1 {margin-left: 1px;margin-left: 1px!important;}
.ml2 {margin-left: 2px;margin-left: 2px!important;}
.ml3 {margin-left: 3px;margin-left: 3px!important;}
.ml4 {margin-left: 4px;margin-left: 4px!important;}
.ml5 {margin-left: 5px;margin-left: 5px!important;}
.ml6 {margin-left: 6px;margin-left: 6px!important;}
.ml7 {margin-left: 7px;margin-left: 7px!important;}
.ml8 {margin-left: 8px;margin-left: 8px!important;}
.ml9 {margin-left: 9px;margin-left: 9px!important;}
.ml10 {margin-left: 10px;margin-left: 10px!important;}
.ml11 {margin-left: 11px;margin-left: 11px!important;}
.ml12 {margin-left: 12px;margin-left: 12px!important;}
.ml13 {margin-left: 13px;margin-left: 13px!important;}
.ml14 {margin-left: 14px;margin-left: 14px!important;}
.ml15 {margin-left: 15px;margin-left: 15px!important;}
.ml16 {margin-left: 16px;margin-left: 16px!important;}
.ml17 {margin-left: 17px;margin-left: 17px!important;}
.ml18 {margin-left: 18px;margin-left: 18px!important;}
.ml19 {margin-left: 19px;margin-left: 19px!important;}
.ml20 {margin-left: 20px;margin-left: 20px!important;}
.ml23 {margin-left: 23px;}
.ml25 {margin-left: 25px;}
.ml28 {margin-left: 28px;}
.ml30 {margin-left: 30px;margin-left: 21px!important;}
.ml33 {margin-left: 33px;}
.ml40 {margin-left: 40px;!important;}
.ml45 {margin-left: 45px;!important;}
.ml50 {margin-left: 50px;}
.ml55 {margin-left: 55px;}
.ml70 {margin-left: 70px;}
.ml80 {margin-left: 80px;}
.mr1 {margin-right: 1px;margin-right: 1px!important;}
.mr2 {margin-right: 2px;margin-right: 2px!important;}
.mr3 {margin-right: 3px;margin-right: 3px!important;}
.mr4 {margin-right: 4px;margin-right: 4px!important;}
.mr5 {margin-right: 5px;margin-right: 5px!important;}
.mr6 {margin-right: 6px;margin-right: 6px!important;}
.mr7 {margin-right: 7px;margin-right: 7px!important;}
.mr8 {margin-right: 8px;margin-right: 8px!important;}
.mr9 {margin-right: 9px;margin-right: 9px!important;}
.mr10 {margin-right: 10px;margin-right: 10px!important;}
.mr11 {margin-right: 11px;margin-right: 11px!important;}
.mr12 {margin-right: 12px;margin-right: 12px!important;}
.mr13 {margin-right: 13px;margin-right: 13px!important;}
.mr14 {margin-right: 14px;margin-right: 14px!important;}
.mr15 {margin-right: 15px;margin-right: 15px!important;}
.mr16 {margin-right: 16px;margin-right: 16px!important;}
.mr17 {margin-right: 17px;margin-right: 17px!important;}
.mr18 {margin-right: 18px;margin-right: 18px!important;}
.mr19 {margin-right: 19px;margin-right: 19px!important;}
.mr20 {margin-right: 20px;margin-right: 20px!important;}
.mr25 {margin-right: 25px;}
.mr28 {margin-right: 28px;}
.mr30 {margin-right: 30px;margin-right: 30px!important;}
.mr40 {margin-right: 40px;margin-right: 40px!important;}
.mr50 {margin-right: 50px;}
.mr80 {margin-right: 80px;}
.m1 {margin: 1px;margin: 1px!important;}
.m2 {margin: 2px;margin: 2px!important;}
.m3 {margin: 3px;margin: 3px!important;}
.m4 {margin: 4px;margin: 4px!important;}
.m5 {margin: 5px;margin: 5px!important;}
.m6 {margin: 6px;margin: 6px!important;}
.m7 {margin: 7px;margin: 7px!important;}
.m8 {margin: 8px;margin: 8px!important;}
.m9 {margin: 9px;margin: 9px!important;}
.m10 {margin: 10px;margin: 10px!important;}
.m11 {margin: 11px;margin: 11px!important;}
.m12 {margin: 12px;margin: 12px!important;}
.m13 {margin: 13px;margin: 13px!important;}
.m14 {margin: 14px;margin: 14px!important;}
.m15 {margin: 15px;margin: 15px!important;}
.m16 {margin: 16px;margin: 16px!important;}
.m17 {margin: 17px;margin: 17px!important;}
.m18 {margin: 18px;margin: 18px!important;}
.m19 {margin: 19px;margin: 19px!important;}
.m20 {margin: 20px;margin: 20px!important;}
.m30 {margin: 30px;margin: 30px!important;}
.m40 {margin: 40px;margin: 40px!important;}
/*padding*/
.pb1 {padding-bottom: 1px;padding-bottom: 1px!important;}
.pb2 {padding-bottom: 2px;padding-bottom: 2px!important;}
.pb3 {padding-bottom: 3px;padding-bottom: 3px!important;}
.pb4 {padding-bottom: 4px;padding-bottom: 4px!important;}
.pb5 {padding-bottom: 5px;padding-bottom: 5px!important;}
.pb6 {padding-bottom: 6px;padding-bottom: 6px!important;}
.pb7 {padding-bottom: 7px;padding-bottom: 7px!important;}
.pb8 {padding-bottom: 8px;padding-bottom: 8px!important;}
.pb9 {padding-bottom: 9px;padding-bottom: 9px!important;}
.pb10 {padding-bottom: 10px;padding-bpttom: 10px!important;}
.pb11 {padding-bottom: 11px;padding-bpttom: 11px!important;}
.pb12 {padding-bottom: 12px;padding-bpttom: 12px!important;}
.pb13 {padding-bottom: 13px;padding-bpttom: 13px!important;}
.pb14 {padding-bottom: 14px;padding-bpttom: 14px!important;}
.pb15 {padding-bottom: 15px;padding-bpttom: 15px!important;}
.pb16 {padding-bottom: 16px;padding-bpttom: 16px!important;}
.pb17 {padding-bottom: 17px;padding-bpttom: 17px!important;}
.pb18 {padding-bottom: 18px;padding-bpttom: 18px!important;}
.pb19 {padding-bottom: 19px;padding-bpttom: 19px!important;}
.pb20 {padding-bottom: 20px;padding-bpttom: 20px!important;}
.pb24 {padding-bottom: 24px;padding-bpttom: 24px!important;}
.pb30 {padding-bottom: 30px;padding-bpttom: 30px!important;}
.pb40 {padding-bottom: 40px;padding-bpttom: 40px!important;}
.pb50 {padding-bottom: 50px;padding-bpttom: 50px!important;}
.pb55 {padding-bottom: 55px;padding-bpttom: 55px!important;}
.pb60 {padding-bottom: 60px;padding-bpttom: 60px!important;}
.pt1 {padding-top: 1px;padding-top: 1px!important;}
.pt2 {padding-top: 2px;padding-top: 2px!important;}
.pt3 {padding-top: 3px;padding-top: 3px!important;}
.pt4 {padding-top: 4px;padding-top: 4px!important;}
.pt5 {padding-top: 5px;padding-top: 5px!important;}
.pt6 {padding-top: 6px;padding-top: 6px!important;}
.pt7 {padding-top: 7px;padding-top: 7px!important;}
.pt8 {padding-top: 8px;padding-top: 8px!important;}
.pt9 {padding-top: 9px;padding-top: 9px!important;}
.pt10 {padding-top: 10px;padding-top: 10px!important;}
.pt11 {padding-top: 11px;padding-top: 11px!important;}
.pt12 {padding-top: 12px;padding-top: 12px!important;}
.pt13 {padding-top: 13px;padding-top: 13px!important;}
.pt14 {padding-top: 14px;padding-top: 14px!important;}
.pt15 {padding-top: 15px;padding-top: 15px!important;}
.pt16 {padding-top: 16px;padding-top: 16px!important;}
.pt17 {padding-top: 17px;padding-top: 17px!important;}
.pt18 {padding-top: 18px;padding-top: 18px!important;}
.pt19 {padding-top: 19px;padding-top: 19px!important;}
.pt20 {padding-top: 20px;padding-top: 20px!important;}
.pt25 {padding-top: 25px;}
.pt30 {padding-top: 30px;padding-top: 30px!important;}
.pt40 {padding-top: 40px;padding-top: 40px!important;}
.pt50 {padding-top: 50px;padding-top: 50px!important;}

.pt55 {padding-top: 55px;padding-top: 55px!important;}
.pt60 {padding-top: 60px;padding-top: 60px!important;}
.pl1 {padding-left: 1px;padding-left: 1px!important;}
.pl2 {padding-left: 2px;padding-left: 2px!important;}
.pl3 {padding-left: 3px;padding-left: 3px!important;}
.pl4 {padding-left: 4px;padding-left: 4px!important;}
.pl5 {padding-left: 5px;padding-left: 5px!important;}
.pl6 {padding-left: 6px;padding-left: 6px!important;}
.pl7 {padding-left: 7px;padding-left: 7px!important;}
.pl8 {padding-left: 8px;padding-left: 8px!important;}
.pl9 {padding-left: 9px;padding-left: 9px!important;}
.pl10 {padding-left: 10px;padding-left: 10px!important;}
.pl11 {padding-left: 11px;padding-left: 11px!important;}
.pl12 {padding-left: 12px;padding-left: 12px!important;}
.pl13 {padding-left: 13px;padding-left: 13px!important;}
.pl14 {padding-left: 14px;padding-left: 14px!important;}
.pl15 {padding-left: 15px;padding-left: 15px!important;}
.pl16 {padding-left: 16px;padding-left: 16px!important;}
.pl17 {padding-left: 17px;padding-left: 17px!important;}
.pl18 {padding-left: 18px;padding-left: 18px!important;}
.pl19 {padding-left: 19px;padding-left: 19px!important;}
.pl20 {padding-left: 20px;padding-left: 20px!important;}
.pl25 {padding-left: 25px;}
.pl30 {padding-left: 30px;padding-left: 30px!important;}
.pl40 {padding-left: 40px;padding-left: 40px!important;}
.pl50 {padding-left: 50px;padding-left: 50px!important;}
.pl55 {padding-left: 55px;padding-left: 55px!important;}
.pl60 {padding-left: 60px;padding-left: 60px!important;}
.pr1 {padding-right: 1px;padding-right: 1px!important;}
.pr2 {padding-right: 2px;padding-right: 2px!important;}
.pr3 {padding-right: 3px;padding-right: 3px!important;}
.pr4 {padding-right: 4px;padding-right: 4px!important;}
.pr5 {padding-right: 5px;padding-right: 5px!important;}
.pr6 {padding-right: 6px;padding-right: 6px!important;}
.pr7 {padding-right: 7px;padding-right: 7px!important;}
.pr8 {padding-right: 8px;padding-right: 8px!important;}
.pr9 {padding-right: 9px;padding-right: 9px!important;}
.pr10 {padding-right: 10px;padding-right: 10px!important;}
.pr11 {padding-right: 11px;padding-right: 11px!important;}
.pr12 {padding-right: 12px;padding-right: 12px!important;}
.pr13 {padding-right: 13px;padding-right: 13px!important;}
.pr14 {padding-right: 14px;padding-right: 14px!important;}
.pr15 {padding-right: 15px;padding-right: 15px!important;}
.pr16 {padding-right: 16px;padding-right: 16px!important;}
.pr17 {padding-right: 17px;padding-right: 17px!important;}
.pr18 {padding-right: 18px;padding-right: 18px!important;}
.pr19 {padding-right: 19px;padding-right: 19px!important;}
.pr20 {padding-right: 20px;padding-right: 20px!important;}
.pr25 {padding-right: 25px;}
.pr30 {padding-right: 30px;padding-right: 30px!important;}
.pr33 {padding-right: 32px;padding-right: 32px!important;}
.pr40 {padding-right: 40px;padding-right: 40px!important;}
.pr50 {padding-right: 50px;padding-right:50 px!important;}
.pr60 {padding-right: 60px;padding-right: 60px!important;}
.pr80 {padding-right: 80px;padding-right: 80px!important;}
.p1 {padding: 1px;padding: 1px!important;}
.p2 {padding: 2px;padding: 2px!important;}
.p3 {padding: 3px;padding: 3px!important;}
.p4 {padding: 4px;padding: 4px!important;}
.p5 {padding: 5px;padding: 5px!important;}
.p6 {padding: 6px;padding: 6px!important;}
.p7 {padding: 7px;padding: 7px!important;}
.p8 {padding: 8px;padding: 8px!important;}
.p9 {padding: 9px;padding: 9px!important;}
.p10 {padding: 10px;padding: 10px!important;}
.p11 {padding: 11px;padding: 11px!important;}
.p12 {padding: 12px;padding: 12px!important;}
.p13 {padding: 13px;padding: 13px!important;}
.p14 {padding: 14px;padding: 14px!important;}
.p15 {padding: 15px;padding: 15px!important;}
.p16 {padding: 16px;padding: 16px!important;}
.p17 {padding: 17px;padding: 17px!important;}
.p18 {padding: 18px;padding: 18px!important;}
.p19 {padding: 19px;padding: 19px!important;}
.p20 {padding: 20px;padding: 20px!important;}
.p30 {padding: 30px;padding: 30px!important;}
.p40 {padding: 40px;padding: 40px!important;}
.p50 {padding: 50px;padding: 50px!important;}

/*字体大小*/
.f12{font-size:12px;}
.f13{font-size:13px;}
.f14{font-size:14px;}
.f15{font-size:15px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.f22{font-size:22px;}
.f24{font-size:24px;}
.f26{font-size:26px;}
.f28{font-size:28px;}
.f30{font-size:30px;}
.f35{font-size:35px;}
.f40{font-size:40px;}
.f44{font-size:44px;}
.f46{font-size:46px;}
.f50{font-size:50px;}
.f100{font-size:100px;}

/*字体行高*/
.lh0{ line-height:0;}
.lh14 {line-height: 14px;}
.lh16 {line-height: 16px;}
.lh18 {line-height: 18px;}
.lh20 {line-height: 20px;}
.lh22 {line-height: 22px;}
.lh24 {line-height: 24px;}
.lh26 {line-height: 26px;}
.lh28 {line-height: 28px;}
.lh30 {line-height: 30px;}
.lh35 {line-height: 35px;}
.lh37 {line-height: 37px;}
.lh40 {line-height: 40px;}
.lh45 {line-height: 45px;}
.lh50 {line-height: 50px;}
.lh60 {line-height: 60px;}
.lh80 {line-height: 80px;}
.lh100 {line-height: 100px;}

.w10 {width: 10px;}
.w20 {width: 20px;}
.w30 {width: 30px;}
.w40 {width: 40px;}
.w50 {width: 50px;}
.w60 {width: 60px;}
.w70 {width: 70px;}
.w80 {width: 80px;}
.w85 {width: 85px;}
.w90 {width: 90px;}
.w95 {width: 95px;}
.w100 {width: 100px;}
.w110 {width: 110px;}
.w115 {width: 115px;}
.w120 {width: 120px;}
.w129 {width: 129px;}
.w130 {width: 130px;}
.w140 {width: 140px;}
.w150 {width: 150px;}
.w155 {width: 155px;}
.w160 {width: 160px;}
.w170 {width: 170px;}
.w180 {width: 180px;}
.w190 {width: 190px;}
.w200{ width:200px;}
.w210{ width:210px;}
.w220{ width:220px;}
.w230{ width:230px;}
.w240{ width:240px;}
.w250{ width:250px;}
.w260{ width:260px;}
.w280{ width:280px;}
.w300{ width:300px;}
.w310{ width:310px;}
.w320{ width:320px;}
.w330{ width:330px;}
.w340{ width:340px;}
.w350{ width:350px;}
.w380{ width:380px;}
.w400{ width:400px;}
.w450{ width:450px;}
.w420{ width:420px;}
.w460{ width:460px;}
.w480{ width:480px;}
.w490{ width:490px;}
.w540{ width:540px;}
.w560{ width:560px;}
.w530{ width:580px;}
.w540{ width:540px;}
.w590{ width:590px;}
.w610{ width:610px;}
.w630{ width:630px;}
.w690{ width:690px;}
.w660{ width:660px;}
.w900{ width:900px;}
.w960{ width:960px;}
.w1012{ width:1012px;}
.w1200{ width:1200px; margin:0 auto; min-width: 1200px;}

.ofh {display: inline-block;overflow: hidden;}
.clear, .line, .blank1, .blank2, .blank3, .blank4, .blank5, .blank6,.blank7, .blank8, .blank10, .blank15, .blank20, .blank30, .blank40,.blank50, .blank60 {clear: both;padding: 0px;margin: 0px;overflow: hidden;line-height: 0px;font-size: 0px;}
.blank1 {height: 1px;}
.blank2 {height: 2px;}
.blank3 {height: 3px;}
.blank4 {height: 4px;}
.blank5 {height: 5px;}
.blank6 {height: 6px;}
.blank7 {height: 7px;}
.blank8 {height: 8px;}
.blank10 {height: 10px;}
.blank15 {height: 15px;}
.blank20 {height: 20px;}
.blank30 {height: 30px;}
.blank40 {height: 40px;}
.blank50 {height: 50px;}
.blank60 {height: 60px;}
.clear {height: 0px;}
.line {border-bottom: 1px dashed #ccc;height: 0px;}
.w45s {width: 50%;}
/*���� end*/
.blankness {display: inline-block;min-width: 10px;padding: 5px 7px;font-size: 12px;font-weight: 700;line-height: 1;color: #777;text-align: center;white-space: nowrap;vertical-align: baseline;border-radius: 10px;border: 1px solid #777}
.blankness-default {background-color: #fff;border: 1px solid #777;color: #777;}
.blankness-default:active,.blankness-default:focus,.blankness-default:hover,.blankness-default[href]:hover, .blankness-default[href]:focus {background-color: #444;color: #fff; text-decoration: none;}
.blankness-primary {background-color: #fff;border: 1px solid #337ab7;color: #337ab7;}
.blankness-primary:active,.blankness-primary:focus,.blankness-primary:hover,.blankness-primary[href]:hover, .blankness-primary[href]:focus {background-color: #286090;color: #fff; text-decoration: none;}
.blankness-success {background-color: #fff;border: 1px solid #5cb85c;color: #5cb85c;}
.blankness-success:active,.blankness-success:focus,.blankness-success:hover,.blankness-success[href]:hover, .blankness-success[href]:focus {background-color: #449d44;color: #fff; text-decoration: none;}
.blankness-info {background-color: #fff;border: 1px solid #5bc0de;color: #5bc0de;}
.blankness-info:active,.blankness-info:focus,.blankness-info:hover,.blankness-info[href]:hover, .blankness-info[href]:focus {background-color: #31b0d5; color: #fff; text-decoration: none;}
.blankness-warning {background-color: #fff;border: 1px solid #f0ad4e;color: #f0ad4e;}
.blankness-warning:active,.blankness-warning:focus,.blankness-warning:hover,.blankness-warning[href]:hover, .blankness-warning[href]:focus {background-color: #ec971f;color: #fff; text-decoration: none;}
.blankness-danger {background-color: #fff;border: 1px solid #d9534f;color: #d9534f;}
.blankness-danger:active,.blankness-danger:focus,.blankness-danger:hover,.blankness-danger[href]:hover, .blankness-danger[href]:focus {background-color: #c9302c;color: #fff; text-decoration: none;}
.blankness-weixin {background-color: #fff;border: 1px solid #58ce92;color: #58ce92;}
.blankness-weixin:active,.blankness-weixin:focus,.blankness-weixin:hover,.blankness-weixin[href]:hover, .blankness-weixin[href]:focus {background-color: #58ce92;color: #fff; text-decoration: none;}
.blankness-pengyouquan {background-color: #fff;border: 1px solid #7c88d0;color: #7c88d0;}
.blankness-pengyouquan:active,.blankness-pengyouquan:focus,.blankness-pengyouquan:hover,.blankness-pengyouquan[href]:hover, .blankness-pengyouquan[href]:focus {background-color: #7c88d0;color: #fff; text-decoration: none;}
.blankness-weibo {background-color: #fff;border: 1px solid #ec5453;color: #ec5453;}
.blankness-weibo:active,.blankness-weibo:focus,.blankness-weibo:hover,.blankness-weibo[href]:hover, .blankness-weibo[href]:focus {background-color: #ec5453;color: #fff; text-decoration: none;}
.blankness-news {background-color: #fff;border: 1px solid #fcb247;color: #fcb247;}
.blankness-news:active,.blankness-news:focus,.blankness-news:hover,.blankness-news[href]:hover, .blankness-news[href]:focus {background-color: #fcb247;color: #fff; text-decoration: none;}

.color-swatches {margin: 0 -5px;overflow: hidden}
.color-swatch {float: left;width: 60px;height: 60px;margin: 0 5px;border-radius: 3px}
@media ( min-width :768px) {.color-swatch {	width: 180px;	height: 120px}}
.color-swatches .gray-darker {background-color: #222}
.color-swatches .gray-dark {background-color: #333}
.color-swatches .gray {background-color: #555}
.color-swatches .gray-light {background-color: #999}
.color-swatches .gray-lighter {background-color: #eee}
.color-swatches .brand-primary {background-color: #337ab7}
.color-swatches .brand-success {background-color: #5cb85c}
.color-swatches .brand-warning {background-color: #f0ad4e}
.color-swatches .brand-danger {background-color: #d9534f}
.color-swatches .brand-info {background-color: #5bc0de}
.color-swatches .bs-purple {background-color: #563d7c}
.color-swatches .bs-purple-light {background-color: #c7bfd3}
.color-swatches .bs-purple-lighter {background-color: #e5e1ea}
.color-swatches .bs-gray {background-color: #f9f9f9}
.color-swatches .sys-info {display: block;height: 30px;line-height: 30px;padding-left: 10px;color: #fff;}
.color-swatches .sys-mun {display: block;height: 30px;line-height: 30px;padding-left: 10px;color: #fff;}
.btn-darkgreen {color: #fff;background-color: #1FC5B3;border-color: #1FC5B3}
.btn-darkgreen.active, .btn-darkgreen.focus, .btn-darkgreen:active,.btn-darkgreen:focus, .btn-darkgreen:hover, .open>.dropdown-toggle.btn-darkgreen{color: #fff;background-color: #00A281;border-color: #00A281}
.btn-darkgreen.active, .btn-darkgreen:active, .open>.dropdown-toggle.btn-darkgreen{background-image: none}
.btn-darkgreen.disabled, .btn-darkgreen.disabled.active, .btn-darkgreen.disabled.focus,.btn-darkgreen.disabled:active, .btn-darkgreen.disabled:focus,.btn-darkgreen.disabled:hover, .btn-darkgreen[disabled], .btn-darkgreen[disabled].active,.btn-darkgreen[disabled].focus, .btn-darkgreen[disabled]:active,.btn-darkgreen[disabled]:focus, .btn-darkgreen[disabled]:hover,fieldset[disabled] .btn-darkgreen, fieldset[disabled] .btn-darkgreen.active,fieldset[disabled] .btn-darkgreen.focus, fieldset[disabled] .btn-darkgreen:active,fieldset[disabled] .btn-darkgreen:focus, fieldset[disabled] .btn-darkgreen:hover{background-color: #1FC5B3;border-color: #00A281}
.btn-darkgreen .badge {color: #1FC5B3;background-color: #fff}
.btn-danger {color: #fff;background-color: #d9534f;border-color: #d9534f;}
.badge-danger {color: #fff;background-color: #d9534f;border-color: #d9534f;}
.badge-success {color: #fff;background-color: #38a045;border-color: #38a045;}
.text-info{color:#5bc0de;}
.bg-danger {background-color: #d9534f;}
.bg-danffa {background-color: #ffa19b;}
.bg-success {background-color: #38a045;}
.bg-default {background-color: #a3a3a3;}
.text-danger {color: #d9534f;}
.label-danger {background: #d9534f;}
.form-control {border: 1px solid #e8e8e8;}
/* 提示框开始 */
.promptBox {position: fixed;top: 50%;left: 50%;margin-top: -45px;opacity: 0;z-index: 5646546464}
.promptBox .outer {position: relative;}
.promptBox .outer .transparent {opacity: 0.8;position: absolute;left: 0;top: 0;box-shadow: 1px 1px 10px #aaa;border-radius: 5px}
.promptBox .outer, .promptBox .outer .transparent {height: 90px}
.promptBox .outer .inner {overflow: hidden;color: #fff;font-weight: bold;font-family: "Microsoft YaHei", "΢���ź�";}
.promptBox .outer .transparent, .promptBox .outer .inner {position: absolute;left: 0;top: 0}
.promptBox .outer .inner {height: 40px;line-height: 40px;display: inline-table;background: url(../images/promptBox-icon.png) no-repeat;font-size: 22px;margin: 25px 0 0 15px;padding-left: 50px;white-space: nowrap;}
.promptBox .outer .boxClose {position: absolute;right: 10px;top: 10px;color: #fff;cursor: pointer;transition: transform .2s ease-out 0s;font-weight: bold;}
.promptBox .outer .boxClose:hover {-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);transform: rotate(180deg)}
/* 提示框结束 */
/* 成功 */
#success .outer .inner {background-position: 0 0}
#success .outer .transparent {background: #449d44}
/* 失败 */
#failure .outer .inner {background-position: 0 -40px}
#failure .outer .transparent {background: #ea544a}
/* ����ʧ����ʽ */
#failure .outer .inner {background-position: 0 -40px}
#failure .outer .transparent {background: #d9534f}
/* ��ʾ��end */
/*�����Ŵ� START*/
.js-max-input {border: solid 1px #ffd2b2;background: #fffae5;padding: 0 10px 0 10px;font-size: 20px;color: #ff4400}
/*�����Ŵ� END*/
/*���͵�ַ START*/
#selected_deliver_address, .deliver_address {width: 600px;overflow: hidden;height: 20px;display: inline-block;position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;}
#deliver_address_input {position: absolute;height: 35px;margin-right: 20px;}
#selected_deliver_address {width: 450px;overflow: hidden;height: 35px;padding-left: 20px;}
.is_del {text-decoration: line-through;color: #ff0000;}
.deliver_remarks {display: none;}
/*���͵�ַ START*/
.close_max {padding: 5px;border: 1px solid #fff;width: 32px;height: 32px;position: absolute;right: 10px;top: 10px;cursor: pointer;background: none;}
.close_max b {display: block;text-align: center;width: :20px;font-size: 18px;line-height: 22px;font-weight: normal;color: #fff;-webkit-transition: transform .2s ease-out 0s;-moz-transition: transform .2s ease-out 0s;transition: transform .2s ease-out 0s}
.close_max:hover b {-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);transform: rotate(180deg);text-decoration: none;}
.close_max:hover, .close_max:hover b, .close_max:active, .close_max:active b{text-decoration: none;}
.copyInfo {position: absolute;color: #fff;background: #000;text-align: center;border-radius: 25px;height: 50px;width: 50px;opacity: 0;font-size: 12px;display: block;padding: 8px 10px 0;}
/**弹出框所有样式*/
.confirm_cancel {text-align: center}
.confirm_cancel button {letter-spacing: 10px;padding: 6px 20px;text-indent: 10px;display: inline-table}
.confirm_cancel button.btn-success {margin-right: 20px}
.meet_order .modal-dialog, .refuse_order .modal-dialog {width: 400px}
.refuse {padding-bottom: 10px;overflow: hidden;padding-left: 70px}
.postscreen dd span {line-height: 30px;padding: 0 20px 0 20px;width: 150px;text-align: right}
.postscreen dd {clear: both;padding-bottom: 20px;overflow: hidden}
.postscreen dd .link_url {width: 350px}
.postscreen dd .upload_info {width: 350px;position: relative}
.postscreen dd .upload_text {width: 250px;border-radius: 4px 0 0 4px}
.postscreen dd .upload_button {width: 100px;letter-spacing: 10px;text-indent: 5px;border-radius: 0 4px 4px 0;color: #999}
.postscreen dd .upload_file {position: absolute;left: 0;top: 0;opacity: 0;width: 350px;height: 34px;cursor: pointer;}
.data_info .upload_info {padding-bottom: 10px;overflow: hidden;width: 400px !important;}
a.add_file {font-size: 22px;padding-left: 10px}
a.del_file {font-size: 22px;padding-left: 10px;color: #FF0000}
.look_data {position: relative}
.look_data dl {padding-left: 70px}
.look_data dd {clear: both;overflow: hidden;padding-bottom: 15px}
.look_data dd span {line-height: 30px;padding-right: 20px}
.look_data dd input {width: 300px}
.look_data dd a.lkurl {padding: 5px 0 0 10px;float: left}
.look_data dd img {float: left}
.look_data dd .pdimg {float: left;position: relative}
.look_data dd .pdimg a img {width: 100px;height: 100px;border: 1px solid #eee;border-radius: 4px;}
.lookdata_order .modal-dialog {width: 500px}
.dataimage {float: left;width: 240px}
.dataimage img {margin: 0 10px 10px 0}
.look_data dd .pdimg input, .look_data dd .pdimg p {opacity: 0;position: absolute;left: 0;top: 0;width: 100px;height: 100px;display: none;cursor: pointer}
.look_data dd .pdimg input {opacity: 0}
.look_data dd .pdimg p {opacity: 0.5;background: #000;line-height: 100px;text-align: center;color: #fff;font-size: 16px;border-radius: 5px}
.look_data .confirm_cancel {position: relative}
.look_data .confirm_cancel a.modify_data {position: absolute;right: 0;bottom: 0;text-decoration: underline}
.look_data .confirm_cancel button {display: none}
.look_data .sublinkurl input {display: none}
.complaint_order .modal-dialog {width: 480px}
.complaint dd, .appeal dd {clear: both;overflow: hidden;padding-bottom: 10px}
.complaint dd span, .appeal dd span {padding-right: 20px}
.complaint .content, .appeal .content {width: 350px;border: 1px solid #ccc;border-radius: 5px;padding: 5px}
.appeal span {padding-right: 20px}
.appeal textarea {width: 350px;border: 1px solid #ccc;border-radius: 5px;padding: 5px}
.info {margin: 0 auto;padding: 0;overflow: hidden;text-align: center}
.info dd, .info dt {height: 40px;line-height: 40px;font-weight: normal}
.info dd {float: left;width: 48%}
.info dt {clear: both}
.info dd span, .info dt span {float: left;width: 100px;text-align: right;font-size: 12px}
.info dd p, .info dt p {float: left;text-align: left;padding-left: 10px;font-weight: normal}
.info dd .btn {float: left;padding: 2px 8px;margin: 10px 0 0 10px;background: #d9534f;color: #fff;border: 1px solid #d9534f}
.info dt p {line-height: 20px;padding: 10px;width: 80%}
.info dd p em, .info dt p em {color: #ccc}
.ertpl {position: relative;float: left;margin-left: 10px;cursor: pointer;font-size: 30px}
#qrcode {display: none;position: absolute;left: 40px;bottom: 0}
.zclip, .zclip embed {cursor: pointer !important;display: block}
.copyUrl {padding-left: 8px}
#copyMsg {position: absolute;right: -55px;top: 0;color: #5cb85c}
#copyMsgs {position: absolute;left: -55px;bottom: 0;color: #5cb85c}
.execution_time {background-color: #fff;border: 1px solid #ccc;border-radius: 3px;width: 100px;padding-left: 5px;margin-top: -3px;font-size: 13px}
a.zhifaimg {float: left;position: relative;margin-right: 4px}
a.zhifaimg, a.zhifaimg img {height: 40px;width: 40px;}
a.zhifaimg i {display: inline-table;position: absolute;right: 0;top: 0;width: 16px;height: 16px;line-height: 16px;text-align: center;background: #fff;border-radius: 8px;color: #FF0000;font-size: 12px}
b.tisi {clear: both;font-size: 12px;color: #FF0000;display: block;font-weight: normal}
.for_checked {position: relative}
.for_checked:hover a.copyInfo {opacity: 0.5}
a.lookat {display: inline-table;background: #50c688;color: #fff;width: 60px;text-align: center;font-size: 12px}
.media_alist, .link_urls {overflow: hidden;padding: 5px 0 0 5px}
.media_alist dd, .link_urls dd {float: left;margin: 0 24px 15px 0;box-shadow: 0 0 5px #ccc;position: relative}
.media_alist dd.no, .link_urls dd.no {margin-right: 0}
.media_alist dd a, .link_urls dd a {display: block}
.media_alist dd a img, .link_urls dd a img {width: 120px;height: 50px}
.media_alist dd a p, .link_urls dd a p {text-align: center;width: 120px;line-height: 24px;height: 24px;border-top: 1px solid #f2f2f2;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-size: 12px}
.media_alist dt, .link_urls dt {text-align: right;clear: both}
.media_alist dt a.clickReplace, .link_urls dt a.clickUpload {text-decoration: underline}
.media_alist dt a i, .link_urls dt a i {padding-right: 5px}
.media_alist dd span {width: 120px;height: 75px;line-height: 75px;background: #000;opacity: 0.5;text-align: center;position: absolute;left: 0;top: 0;color: #fff;display: none;cursor: pointer}
.link_urls dd input {width: 118px;border: 1px solid #e2e2e2;border-radius: 4px;margin: 0 0 2px 1px;font-size: 12px;padding: 2px;text-align: center}
.replaceMedia {}
.enterMedia {}
.enterMedia input {width: 240px;border-radius: 4px 0 0 4px;border: 1px solid #e1e1e1;height: 32px;line-height: 32px;padding-left: 10px;float: left;border-right: none}
.enterMedia a.replaceMedia {color: #50c688;border-radius: 0 4px 4px 0;font-weight: bold;width: 40px;border: 1px solid #e1e1e1;border-left: none;background: #eee;text-align: center;height: 32px;line-height: 32px;float: left;}
.inputDiv {position: absolute;top: 0;left: 0;z-index: 201509}
.inputDiv .inputDiv-body {position: relative;display: block;box-shadow: 0 0 5px #666;background: #fff;padding: 10px;border-radius: 4px;}
.inputDiv .inputDiv-arrow {border: 10px solid transparent;border-top-color: #fff;display: block;position: absolute;left: 20px;bottom: -20px}
.inputDiv .inputDiv-close {width: 18px;line-height: 18px;height: 18px;border-radius: 9px;text-align: center;background: #fff;color: #666;position: absolute;top: -5px;right: -5px;box-shadow: 0 0 5px #aaa;cursor: pointer;}
.inputDiv .inputDiv-content {overflow: hidden}
.staurl, .lookmodify {text-align: center;border-top: 1px solid #eee;padding-bottom: 2px}
.staurl a, .lookmodify a {display: inline-table !important;color: #d9534f;font-size: 12px}
/**弹出框所有样式*/
/*************点击显示密码***************/
.show_password_btn {position: absolute; top: 50%; right: 10px; margin-top: -15px;}
.show_password {
    background-position: 0 center;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 100%;
    overflow: hidden;
    text-indent: -9999em;
    width: 44px;}
.hide_password {
    background-repeat: no-repeat;
    cursor: pointer;
    height: 100%;
    overflow: hidden;
    text-indent: -9999em;
    width: 44px;}
/*************点击显示密码***************/
.lh10 {line-height: 10px !important;}
.lh15 {line-height: 15px !important;}
.lh20 {line-height: 20px !important;}
.lh25 {line-height: 25px !important;}
.lh30 {line-height: 30px !important;}
.lh35 {line-height: 35px !important;}
.lh40 {line-height: 40px !important;}
.lh45 {line-height: 45px !important;}
.lh50 {line-height: 50px !important;}
.lh55 {line-height: 55px !important;}
.pos-r{position: relative}
.pos-a{position: absolute}
.mediahide,.ownerhide{width: 102px;height: 44px;display: inline-table;position: absolute;left: 52px;top: 8px}
.mediahide{background: url(../images/mediahide.png) no-repeat;top : 0}
.ownerhide{background: url(../images/ownerhide.png) no-repeat}
