@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,form,img,dl,dt,dd,table,th,td,blockquote,fieldset,div,strong,label,em{margin:0;padding:0;border:0;}
body{font-size:14px; margin:0px;color:#3C3C3C;font-family:"Microsoft YaHei","\9ED1\4F53",Arial,sans-serif,"tahoma";}
ul,ol,li{list-style:none;}
input,button{margin:0;vertical-align:middle;}
table{border-collapse:collapse;border-spacing:0;}
em,i{ font-style:normal;}
p img {display: inline-block;}
a{ color: #333;outline: none!important; transition: all 0.3s linear 0s;}
a:hover{ color: #ea544a;}
a:focus, a:hover {color: #ea544a;text-decoration: none;}
h3{ font-size:14px;}
h4{ font-size:14px; font-weight:normal;}
h5{ font-size:12px;}
h6{ font-size:12px; font-weight:normal;}
.fs12{font-size:12px}
.w1200{ margin:0 auto; width:1200px;}
.w1198{ margin:0 auto; width:1198px; background:#fff;}
.w760{width: 760px}
.w280{ width:280px;}
.w300{ width:300px;}
.w590{ width:580px;}
.w250{ width:250px;}
.w200{ width:200px;}
.w150{ width:150px;}
.w120{ width:120px;}
.w100{ width:100px;}
.w80{ width:80px;}
.bor{border: 1px solid #e5ece9;/*border-radius: 4px;*/}
.bor_top{border-top: 1px solid #e5ece9;}
.bor_right{border-right: 1px solid #e5ece9;}
.bor_bottom{border-bottom: 1px solid #e5ece9;}
.bor_left{border-left: 1px solid #e5ece9;}
.newcwq_wrap{margin:0 auto; width:1200px;}
.mod_wrap{ width:690px; float:left;}
.mod_left{ width:335px; float:left;}
.mod_cen{ width:335px; float:left;}
.mod_right{ width:275px; float:right;}
.cwqmod_right{ width:280px; float:right; }
.cwqmod_left{ width:900px; float:left;}
.cwqmod_leftt{ width:1200px; float:left;}
.newwrap{margin:0 auto; width:1200px; padding:0px 5px; overflow:hidden;}
.w_wrap{width:1200px;}
.newcwq_w940{margin:0 auto; width:940px; overflow:hidden;}
.crumb{ border-bottom:1px solid #dedede; color:#666; padding:12px 0;}
.table>tbody>tr>td{ vertical-align:middle}
.table{ margin:0px;}
.text-nowrap{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;text-align: left;}
.ving{ text-align:left;padding-left:22px;background: url(../images/v_weixin.gif) no-repeat left center;}
.weibo_v{ display:inline-block; width:22px; height:17px;background:url(../images/weibo_icon.png) no-repeat; margin-left:5px;}
.yellow_weibo{ background-position:0px -48px;}/*微博黄v认证*/
.blue_weibo{ background-position:0px -73px;}/*微博蓝v认证*/
.master_weibo{ background-position:0px -123px;}/*微博达人*/
.alert-default {color: #333;background-color: #f4f4f4;border-color: #efefef;}
.text-nowrap{width: 120px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;text-align: left;}
.nav_top{ height: 100px;}
/*全局变量 begin*/
strong,.strong{ font-weight:normal;}
.font_bold{ font-weight:bold;}
p img,.wi_f{display: inline-block;}
.clearfix {display: inline-table;}
.hov_none,.cwq_wi_no{ display:none;}
.dis_bl:link{text-decoration:none;outline:0 none;}
.dis_bl:visited{text-decoration:none;outline:0 none;}
.dis_bl,.hov_1:hover .hov_none{display: block;}
.login-input,.cwq_wi dt.active .cwq_wi_no{ display:inline;}
h3{ font-size:14px;}
h4{ font-size:14px; font-weight:normal;}
h5{ font-size:12px;}
h6{ font-size:12px; font-weight:normal;}
.co3{ color:#333}
.co6{ color:#666}
.co7{ color:#777}
.co9{ color:#999}
.cof{ color:#fff}
.coh{ color:#e83737}
.col{ color:#58cf91;}
.coll{ color:#80a1ff;}
.colk{color:#56a0de;}
.tace{text-align:center;}
.teri{text-align:right;}
.tele{text-align:left;}
.text_over{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
a{ color:#666;}
a:hover{ color:#e83737; text-decoration:none;}

.ove_h{ overflow:hidden;}
.cl{clear: both;padding: 0px;margin: 0px;overflow: hidden;line-height: 0px;font-size: 0px;}
/*浮动*/
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
/*定位*/
.pos_relative {position: relative;}
.pos_absolute {position: absolute;}
.to{ top:0}
.le{ left:0}
.bot{ bottom:0}
.ri{ right:0}
/*边框*/
.cwq_wi li{ border:2px solid #ebebeb;}
.bor{ border:1px solid #ebebeb;}
.bor1{ border:1px solid #fff;}
.bordd{ border:1px solid #ddd;}
.bor2{ border:2px solid #fff;}
.bor_bo{ border-bottom:1px solid #ebebeb;}
.bor_bof{ border-bottom:2px solid #fff;}
.bor_boe{ border-bottom:1px solid #e5e5e5;}
.bor_toe{ border-top:1px solid #e5e5e5;}
.bor_to{ border-top:1px solid #ebebeb;}
.bor_to2{ border-top:2px solid #ebebeb;}
.bor_le{ border-left:1px solid #ebebeb;}
.bor_ri{ border-right:1px solid #ebebeb;}
.bora30{border-radius:30px;}
.bora5{border-radius:5px;}
.bora100{border-radius:100px;}
.bor_no{ border:none;}
/*按钮*/
.button_pu,.cwq_wi li,.button_pu_styl{display: inline-block; min-width: 10px; color: #333;text-align: center;white-space: nowrap;vertical-align: baseline; border-radius: 30px;}
.w2{padding:5px 7px;}
.button_pu,.cwq_wi li{padding: 5px 17px;}
#w2{padding:5px 10px;}
.label{border-radius:0px;}
.btn{border-radius:0px;}
.baf7{background:#f7f7f7}
.pos_fc{ background:#4898dc; float:left; border:1px solid #4898dc; color:#fff;}
.van_hover,.button_pu:hover{ background:#d43232; color:#fff;}
.button_pu_styl:hover{background:#e83737; color:#fff;}
.button_1{border-radius:3px; border:1px solid #58cf91; padding:7px; color:#58cf91;}
.button_1:link{text-decoration:none;outline:0 none;color:#58cf91;}
.buttion_1:visited{text-decoration:none;outline:0 none;color:#58cf91;}
.button_1:hover{ background:#58cf91; color:#fff;}
.bu_pl:hover{ background:#fff; color:#d33737;}
.bhr_lq img{ width:85px; height:85px; border-radius:85px; display:block;}
.bhr_100 img{ width:100px; height:100px; border-radius:100px; display:block;}
.bhr_70 img{ width:70px; height:70px; border-radius:70px; display:block;}
.button_f{border-radius:3px; border:1px solid #fff; padding:5px 10px; color:#fff;}
.button_in:hover{ border:1px solid #7e6be7; background:#7e6be7; color:#fff;}
/*红色按钮*/
.button_h{border-radius:3px;}
.bor_hback{background:#e83737; color:#fff;}
.bor_hback:hover{background:#dc2d2d; color:#fff;}
.bor_h{ border:1px solid #e83737; color:#e83737;}
.bor_h:hover{background:#dc2d2d; color:#fff;}
/*绿色按钮*/
.bor_lback{background:#58cf91;}
.bor_l{ border:1px solid #58cf91; color:#58cf91}
.bor_lra{border-radius:3px;}
.bor_l:hover{  background:#4bbf83; color:#fff;}
.bor_lc{ background:#74bee6; color:#fff}
.bor_lc:hover{ background:#62b0da; color:#fff;}
.ml60{ margin-left:60px;}
/*背景*/
.back_ff{ background:#fff;}
.back_f5{ background:#f5f5f5;}
.back_h{ background:#e83737; color:#fff;}
/*宽度*/
.w10 {width: 10px;}
.w20 {width: 20px;}
.w30 {width: 30px;}
.w40 {width: 40px;}
.w50 {width: 50px;}
.w60 {width: 60px;}
.w70 {width: 70px;}
.w80 {width: 80px;}
.w85 {width: 85px;}
.w90 {width: 90px;}
.w95 {width: 95px;}
.w100 {width: 100px;}
.w110 {width: 110px;}
.w115 {width: 115px;}
.w120 {width: 120px;}
.w129 {width: 129px;}
.w130 {width: 130px;}
.w140 {width: 140px;}
.w160 {width: 160px;}
.w170 {width: 170px;}
.w180 {width: 180px; overflow:hidden;}
.w190 {width: 190px;}
.w200{ width:200px;}
.w210{ width:210px;}
.w220{ width:220px;}
.w230{ width:230px;}
.w240{ width:240px;}
.w250{ width:250px;}
.w260{ width:260px;}
.w280{ width:280px;}
.w300{ width:300px;}
.w310{ width:310px;}
.w320{ width:320px;}
.w330{ width:330px;}
.w340{ width:340px;}
.w350{ width:350px;}
.w380{ width:380px;}
.w400{ width:400px;}
.w450{ width:450px;}
.w420{ width:420px;}
.w460{ width:460px;}
.w480{ width:480px;}
.w490{ width:490px;}
.w540{ width:540px;}
.w560{ width:560px;}
.w520{ width:520px;}
.w530{ width:580px;}
.w540{ width:540px;}
.w590{ width:590px;}
.w610{ width:610px;}
.w630{ width:630px;}
.w690{ width:690px;}
.w660{ width:660px;}
.w900{ width:900px;}
.w960{ width:960px;}
.w1012{ width:1012px;}
/*高度*/
.he1 {height: 10px;}
.he2 {height: 20px;}
.he3 {height: 30px;}
.he3_5{height: 35px;}
.he4 {height: 40px;}
.he4_5 {height: 45px;}
.he5 {height: 50px;}
.he5_9 {height: 59px;}
.he6 {height: 60px;}
.he7 {height: 70px;}
.he8 {height: 80px;}
.he9 {height: 90px;}
.he10 {height: 100px;}
.he11 {height: 110px;}
.he13 {height: 130px;}
.he105 {height: 104px;}
.he12 {height: 120px;}
.he15 {height: 150px;}
.he18 {height: 180px;}
.he20 {height: 200px;}
.he21 {height: 214px;}
.he30 {height: 300px;}
.he40 {height: 400px;}
.he50 {height: 500px;}
.he60 {height: 600px;}
.he65 {height: 650px;}

/*字体大小*/
.f13{font-size:13px;}
.f14{font-size:14px;}
.f15{font-size:15px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.f22{font-size:22px;}
.f24{font-size:24px;}
.f26{font-size:26px;}
.f28{font-size:28px;}
.f30{font-size:30px;}
.f35{font-size:35px;}
.f40{font-size:40px;}
.f44{font-size:44px;}
.f46{font-size:46px;}
.f50{font-size:50px;}
.f100{font-size:100px;}
/*字体行高*/
.lh0{ line-height:0;}
.lh8 {line-height: 8px;}
.lh14 {line-height: 14px;}
.lh16 {line-height: 16px;}
.lh18 {line-height: 18px;}
.lh20 {line-height: 20px;}
.lh22 {line-height: 22px;}
.lh24 {line-height: 24px;}
.lh26 {line-height: 26px;}
.lh28 {line-height: 28px;}
.lh30 {line-height: 30px;}
.lh35 {line-height: 35px;}
.lh37 {line-height: 37px;}
.lh40 {line-height: 40px;}
.lh45 {line-height: 45px;}
.lh50 {line-height: 50px;}
.lh60 {line-height: 60px;}
.lh80 {line-height: 80px;}
.lh100 {line-height: 100px;}

.mb6{margin-bottom:6px;}
.mb7{margin-bottom:7px;}
.mb8{margin-bottom:8px;}
.mb23{margin-bottom:23px;}
.mb24{margin-bottom:24px;}
.mb25{margin-bottom:25px;}
.mb26{margin-bottom:26px;}
.mb27{margin-bottom:27px;}
.mb28{margin-bottom:28px;}
.mb29{margin-bottom:29px;}
.mb30{margin-bottom:30px;}
.mb30{margin-bottom:30px;}
.mb31{margin-bottom:31px;}
.mb32{margin-bottom:32px;}
.mb33{margin-bottom:33px;}
.mb34{margin-bottom:34px;}
.mb35{margin-bottom:35px;}
.mb40{margin-bottom:40px;}

.mb42{margin-bottom:42px;}
.mb43{margin-bottom:43px;}
.mb44{margin-bottom:44px;}
.mb45{margin-bottom:45px;}
.mb46{margin-bottom:46px;}
.mb47{margin-bottom:47px;}
.mb48{margin-bottom:48px;}
.mb50{margin-bottom:50px;}
.mb51{margin-bottom:51px;}
.mb52{margin-bottom:52px;}
.mb53{margin-bottom:53px;}
.mb55{margin-bottom:55px;}
.mb60{margin-bottom:60px;}
.mb75{margin-bottom:75px;}
.mb90{margin-bottom:90px;}

.mt23{margin-top:26px;}
.mt26{margin-top:26px;}
.mt27{margin-top:27px;}
.mt28{margin-top:28px;}
.mt29{margin-top:29px;}
.mt30{margin-top:30px;}
.mt35{margin-top:35px;}
.mt37{margin-top:37px;}
.mt70{margin-top:70px;}

.mt125{margin-top:125px;}
.mt130{margin-top:130px;}
.mt140{margin-top:140px;}
.mt150{margin-top:150px;}

.mr20{margin-right:20px;}
.mr21{margin-right:21px;}
.mr22{margin-right:22px;}
.mr23{margin-right:23px;}
.mr24{margin-right:24px;}
.mr25{margin-right:25px;}
.mr26{margin-right:26px;}
.mr27{margin-right:27px;}
.mr28{margin-right:28px;}
.mr29{margin-right:29px;}
.mr30{margin-right:30px;}
.mr30{margin-right:30px;}
.mr31{margin-right:31px;}
.mr32{margin-right:32px;}
.mr33{margin-right:33px;}
.mr34{margin-right:34px;}
.mr35{margin-right:35px;}
.mr36{margin-right:36px;}
.mr110{ margin-right:110px;}

.ml44{margin-right:44px;}
.ml45{ margin-right:45px;}
.ml100{margin-left:100px;}
.ml110{margin-left:110px;}
.ml120{margin-left:120px;}
.ml130{margin-left:130px;}
.ml140{margin-left:140px;}

.pl14{padding-left:14px;}
.pl15{padding-left:15px;}
.pl16{padding-left:16px;}
.pl17{padding-left:17px;}
.pl18{padding-left:18px;}
.pl19{padding-left:19px;}
.pl20{padding-left:20px;}
.pl21{padding-left:21px;}
.pl22{padding-left:22px;}
.pl23{padding-left:23px;}
.pl24{padding-left:24px;}
.pl25{padding-left:25px;}
.pl26{padding-left:26px;}
.pl27{padding-left:27px;}
.pl28{padding-left:28px;}
.pl29{padding-left:29px;}
.pl30{padding-left:30px;}
.pl31{padding-left:31px;}

.pr14{padding-left:14px;}
.pr15{padding-left:15px;}
.pr16{padding-left:16px;}
.pr17{padding-left:17px;}
.pr18{padding-left:18px;}
.pr19{padding-left:19px;}

.pr21{padding-left:21px;}
.pr22{padding-left:22px;}
.pr23{padding-left:23px;}
.pr24{padding-left:24px;}
.pr25{padding-left:25px;}
.pr26{padding-left:26px;}
.pr27{padding-left:27px;}
.pr28{padding-left:28px;}
.pr29{padding-left:29px;}
.pr30{padding-left:30px;}
.pr31{padding-left:31px;}

.pb26{padding-bottom:26px;}
.pb27{padding-bottom:27px;}
.pb28{padding-bottom:28px;}
.pb29{padding-bottom:29px;}
.pb30{padding-bottom:30px;}
.pb31{padding-bottom:31px;}
.pb32{padding-bottom:32px;}
.pb33{padding-bottom:33px;}
.tar{text-align:right;}
.tal{text-align:left;}
.talc{text-align:center;}
.logo a img{width:180px;height:60px;}
.dh_1{ margin-left:20px; cursor: pointer;}
/*全局变量 end*/
/*弹窗 begin*/
#double_eleven .modal-content {border: 5px solid #fff;}
.modal-dialog{ position:absolute; top:50%; margin-top:-255px;left:50%; margin-left:-355px;}
/*弹窗 begin*/
/*列表 begin*/
.list_li22 li{padding-left:15px;line-height:22px;height:22px;overflow:hidden;color:#222a37;position: relative;}
.list_li22 li a{color:#444;}
.list_li22 li a:hvoer{color:#222a37;}
.list_li22 li a:hover{ text-decoration:underline;}
.list_li22 li span.middot{ display:block; position:absolute; width:3px; height:3px; left:3px; top:8px; background:#999}
.list_li24 li{padding-left:15px;line-height:24px;height:24px;overflow:hidden;color:#222a37;position: relative;}
.list_li24 li a{color:#444;}
.list_li24 li a:hover{ text-decoration:underline;color:#222a37;}
.list_li24 li span.middot{ display:block; position:absolute; width:3px; height:3px; left:3px; top:8px; background:#999}
.list_li26 li{padding-left:15px;line-height:26px;color:#222a37;position:relative; font-size:13px;}
.list_li26 li span.sapnr{ float:right;}
.list_li26 li a{color:#444;}
.list_li26 li a:hover{ text-decoration:underline;color:#222a37;}
.list_li26 li span.middot{ display:block; position:absolute; width:6px; height:6px; border-radius:3px; overflow:hidden; left:3px; top:10px; background:#999}
.list_xy li span.sapnr{ float:right;}
.list_xy li{line-height:24px;height:24px;overflow:hidden;color:#222a37;position:relative; font-size:13px; margin:5px 0px;}
.list_xy li h4{padding:0px 5px 0px 15px;line-height:24px;overflow:hidden;color:#222a37;position:relative; font-size:12px;}
.list_xy li p{color:#ff0000;padding:0px 5px 0px 15px;}
.list_xy li a{color:#444;}
.list_xy li.xy_line{border-bottom:1px #CCC dashed;margin:0px 0px 3px 0px;padding:0px 0px 3px 0px; height:0px; line-height:0px; font-size:0px; clear:both; overflow:hidden;}
.list_xy li a:hover{ text-decoration:underline;color:#222a37;}
.list_xy li span.middot{ display:block; position:absolute; width:3px; height:3px; overflow:hidden; left:3px; top:10px; background:#999}
.list_pp li{padding-left:20px;line-height:26px;color:#222a37;position:relative; font-size:13px;}
.list_pp li span.sapnr{ float:right;}
.list_pp li a{color:#444;}
.list_pp li a:hover{ text-decoration:underline;color:#222a37;}
.list_pp li span.middot{ display:block; position:absolute; width:10px; height:10px; overflow:hidden; left:3px; top:8px; background:#00b0e1}
#box_line{border-bottom:1px #CCC dashed;margin:0px 0px 8px 0px;padding:0px 0px 8px 0px; height:0px; line-height:0px; font-size:0px; clear:both; overflow:hidden;}

.list_ent li{padding-left:30px;line-height:26px;height:26px;overflow:hidden;color:#222a37;position: relative;}
.list_ent li a{color:#444;}
.list_ent li a:hover{ text-decoration:underline;color:#222a37;}
.list_ent li span.middot{ display:block; position:absolute; width:3px; height:3px; overflow:hidden; left:3px; top:10px;}

.list_li28 li{line-height:28px;height:28px;overflow:hidden;color:#222a37;position: relative;}
.list_li28 li a{color:#444;}
.list_li28 li a:hover{ text-decoration:underline;color:#222a37;}
.list_li28 li span.middot{ display:block; position:absolute; width:3px; height:3px; left:3px; top:12px; background:#999}

/*列表 end*/
/*模块begin*/
.mod_popover {position:relative;background-color: #fff;border-top: 1px solid #ea544a;}
.mod_popover>.arrow, .mod_popover>.arrow:after {position: absolute;display: block;width: 0;height: 0;border-color: transparent;border-style: solid;}
.mod_popover>.arrow {border-width: 15px;}
.mod_popover>.arrow {top: -15px;left: 50%;margin-left: -15px;border-top-width: 0;border-bottom-color: #ea544a;}
.mod_popover>.arrow:after {content: "";border-width: 14px;}
.mod_popover>.arrow:after {top: 1px;margin-left: -14px;content: " ";border-top-width: 0;border-bottom-color: #fff;}
.mod_popover.popover_w1 .arrow{left:170px;}
.mod_popover.popover_w2 .arrow{left:300px;}
.mod_popover.popover_w3 .arrow{left:430px;}
.mod_popover.popover_w4 .arrow{left:560px;}
.mod_popover.popover_w5 .arrow{left:690px;}

.cwqmod_hot{}
.cwqmod_hot .cwqmod_hot_title{ height:48px; line-height:48px;}
.cwqmod_hot .cwqmod_hot_title h3{ font-size:16px; font-weight:bold;line-height:45px;}
.cwqmod_hot .cwqmod_hot_title h3 .b_info{ font-size:14px; color:#999; font-weight:normal;}
.cwqmod_hot .cwqmod_hot_title span{  float:left; display:inline; text-align:center; bottom:-2px; color:#545454; margin-right:10px; cursor:pointer;}
.cwqmod_hot .mod_title span.currot{border-bottom:2px solid #ea544a;}
.cwqmod_hot .cwqmod_hot_title span.currot i{ font-size:36px;color:#ea544a;}
.cwqmod_hot .cwqmod_hot_title a{ font-weight:bold;color:#ea5949;}
.cwqmod_hot .cwqmod_hot_title a:hover{color:#760004; text-decoration:underline;}
.cwqmod_hot .mod_con{}

.indexwenhao{border:none;background:none;padding:0;font-size:12px}
.indexwenhao:hover{background:none}
.windo .tooltip{width:300px;left:10px;font-size:12px;}
/*模块end*/
.tool-container {width: 100%;height: 38px;background: #f6f6f6;line-height: 38px;}
.tool-container .tool {width: 1200px;margin: 0 auto;color:#333;}
.tool-container .tool a {color:#333;text-decoration: none;}
/*立即免费咨询 begin*/
.advice{ height:60px; line-height:60px; overflow:hidden; font-size:15px;}
.advice .advice_t{width:760px;height:50px; line-height:50px; overflow:hidden; float:left; background:#f5f5f5; color:#24a7d9;}
.advice .advice_t a{ color:#D72A22;}
.advice .advice_s{ padding-right:20px; text-align:right; float:right; color:#C00}
.avice{ margin:0 auto; width:260px;}
.avice a{ display:block; padding:10px 30px;width:260px; font-size:18px;}
/*立即免费咨询 end*/

.header_top{ height:35px; font-size:13px; line-height:30px;background:#F5F5F5; color:#353334;border-bottom: 1px solid #E7E7E7;}
.header_top{ height:30px; font-size:13px; line-height:30px;background:#F5F5F5; color:#353334;border-bottom: 1px solid #E7E7E7;}
.top_left{ width:350px; float:left; text-align:left;}
.cctv_logo{ display:block; width:125px; height:51px; margin-top:-5px;}
.top_right{ display:inline-block;float:right;}
.header_top a{color:#6f6f6f; text-decoration:none;}
.header_top a:hover{ color:#ea544a; text-decoration:none;}
.header_top .top_right li {float: left;padding: 0 15px 0 3px;color: #353334;height: 30px;line-height: 30px;}
.header_top a.blue{color: #238cc8;}
.header_top a.red{color: #ea6060; padding-left:10px;}
.media_menu{color: #fff;display: block;height:40px; background:#eb6b4c; }
.top_left{ width:350px; float:left; text-align:left;}
.top_right{ display:inline-block;float:right;}
/* top menu */
.top-menu,.top-menu .media_logo,.top-menu .media_logo a{height:90px; width: 100%;}
.top-menu{background-color: #fff; border-bottom:1px solid #ebebeb;}
.top-menu .media_logo { float:left; overflow: hidden; width: 280px;}
.top-menu .media_logo a { overflow: hidden; line-height:80px; padding:13px 0px;  display: block;}
.top-menu .media_logo a img{vertical-align: top;}
.top-menu .cwq_logotxt { float:left; width:180px;  height: 45px; line-height:45px; margin:22px 0; padding: 0px 0px 0px 10px; background: none; text-align: left; font-size:16px;  border-left: 1px solid #959595; z-index: 10;}
.nav-text>li>a:hover, .nav-text li.nav_cur a {
    background: #e83737;
    color: #fff;
}
.top-menu .aw-top-nav{float: right;margin:0;}
.top-menu .aw-top-nav .navbar-collapse{background: transparent;}
.top-menu .aw-top-nav .nav li > span{display: block;height: 60px;padding: 20px;cursor: pointer;border-left: 1px solid #fff;border-right: 1px solid #fff;}
.aw-top-nav > nav > ul > li{height:88px;padding:25px 3px;}
.aw-top-nav > nav > ul > li > a{padding: 6px 15px;color: #333; border-radius: 15px;font-size:16px; }
.aw-top-nav > nav > ul > li > a:hover,.aw-top-nav > nav > ul > li > a.van_hover, .aw-top-nav > nav > ul > li > a:focus{background-color: #d43232; color:#fff}
.top-menu .aw-top-nav .nav li.fir_cur a{border-color:#ea544a;background-color:#fafafa; color:#ea544a;}
.top-menu .aw-top-nav .nav li.nav_next{ width:120px;color:#fff;float:right; padding:29px 0px;}
.top-menu .aw-top-nav .nav li.nav_next a{ display:block; margin:0px; color:#fff;width:115px; line-height:30px; height:30px;background:url(http://www.cwq.com/App/Public/Owner/images/btn_header.png) no-repeat; padding:0px; text-align:center; border:none;}
.top_search{ margin: 25px 0px 0px 10px; padding-left: 15px; border-left: 2px solid #d43232;}
/* banner  begin*/
.banners{ position:relative; overflow:hidden;min-width:1200px}
.banners .banner-pic{ overflow:hidden; width:100%;position:relative;height:520px}
.banners .banner-pic .bandiv{ position:relative; margin:0 auto; width:1200px; height:520px;}
.banners .banner-pic .item a{ display:block;width:100%; height:520px;}
.banners .carousel-indicators { bottom:12px;}
.banners .carousel-indicators li{ margin:2px 4px;}
.cirl_bg{ position:absolute; width:100%; height:40px; background:#000;opacity:0.3;filter: alpha(opacity=30);-moz-opacity:0.3; bottom:0px;}
.carousel-control b{position: absolute;top: 50%;left: 15px;width: 40px;height: 40px;margin-top: -20px;font-size: 50px;font-weight: 100;line-height: 25px;color: #ffffff;text-align: center;background: #222222;border: 3px solid #ffffff;-webkit-border-radius: 23px;-moz-border-radius: 23px;border-radius: 23px;opacity: 0.5;filter: alpha(opacity=50);}
.carousel-control.right  b{left: auto;right: 15px;}
/* banner  end*/
/* 登录  begin*/
.DynarchCalendar-title div {
    padding-left: 90px !important;
}
.label-yellow {
    background-color: #ff7700;
    font-size: 12px;
    line-height: 12px;
    font-weight: normal;
    padding: 1px 5px;
}
/* 登录  end*/
/*导航墙样式 begin*/
.Navigation_wall{ z-index:99999; position:fixed; top:0; right:0; width:1px; height:100%; color:#FFF;}
.Navigation_wall a{ text-decoration:none;}
.Navigation_wall a:hover{ text-decoration:none; color:#ea544a;}

.wallturn,.wallturn i,.wallturn a.bizQQ{width:125px; height:282px;}
.wallturn{ position:absolute; top:50%; right:0px; margin-top: -140px; }
.wallturn a.bizQQ{position:absolute; right:0px; display:block; margin:1px auto 0 auto; color:#FFF;border-radius:5px 0 0 5px;}
.wallturn .wall_qq{ width: 82px; margin: 0 auto; display:block; border-radius: 5px; background: #fff; color: #333;padding: 4px 12px;}
.wallturn .wall_qq:hover{ background:#ea544a; color: #fff;}
.wallturn a.ligon_register{position:absolute; right:20px; top: 240px; display:block; border-radius: 5px; background: #fff;padding:4px 12px;}
.wallturn i{ padding-top: 170px;}
.wallturn .iphone400{}
.wallturn i.wallkf{background:url(../images/kf.png) no-repeat; top:-40px;}
.Return a#ToTop:hover span,.wallturn a#ToTop:hover span{ display:block;}
.wallturn a:hover,.Return a:hover{color:#fff; background:#ea544a;}
.wallturn a span,.Return a span{ padding:10px 15px;color:#fff;}
.wallturn a:hover span,.wallturn a:hover i,.Return a:hover span,.Return a:hover i{ display:inline-table; color:#fff;}
.Return{ position:fixed; right:4px; bottom:60px; width:35px; margin:0px 0 0 0;}
.Return a{ position:absolute; right:0px; display:block; width:60px;height:60px; margin:1px auto 0 auto; color:#FFF;border-radius:5px 0 0 5px; font-size:14px;}
.Return b{ border-radius: 5px 0 0 5px;z-index:-1;position: absolute;top: 0px;right:0px;width: 60px;height: 60px;background: #000;opacity:0.5;filter: alpha(opacity=50);-moz-opacity:0.5;}
.Return i{position: absolute;top:0px;right:0px;width: 60px;height: 60px; background:url(../images/navigation.png) no-repeat}
.Return a#ToTop span{ display:none;}
.Return a#ToTop:hover i{ display:none;}
.Return i.walltop{ background-position:5px -110px;}
/*导航墙样式 end*/
/* 底部 begin */
.bottom_fixed,.bottom_btmdiv{ position: fixed; bottom:0; left:0; _position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0))); height:120px;width:100%; }
.bottom_btmdiv .w1200{height:120px;}
.bottom_fixed{ z-index:20;background:#000;opacity:0.6;filter:alpha(opacity=60); -moz-opacity:0.6;-khtml-opacity:0.6;}
.bottom_btmdiv{display:block; padding:10px 20px; text-align:center; font-size:20px; line-height:40px; color:#fff; z-index:100; background:url(../images/index_eleven_bottom.png) no-repeat center center; }
.bottom_fixed{background: #000000;opacity:0.8;filter:alpha(opacity=80); -moz-opacity:0.8;-khtml-opacity:0.8;}
.bottom_btmdiv .close_max{ top:5px;}
.bottom_btmdiv p{ font-size:16px;}
.bottom_btmdiv a{ margin:0px 5px;}
.btn-dreg,.btn-dlogin{display:block; position:absolute; top:62px; padding:6px 10px;}
.btn-dreg{left:770px;}
.btn-dlogin{left:800px;}

.bottom_btmdiv a{position:absolute;bottom:0px;cursor:pointer;}
.bottom_btmdiv a.ah{ left:560px;}
.bottom_btmdiv a.bh{ left:680px;}
/* 底部 end */
/* 头部 */
.fixednav {position: fixed;top: 0px;left: 0px;width: 100%; z-index:99999; filter:alpha(opacity=9); -moz-opacity:0.9; -khtml-opacity: 0.9; opacity: 0.9;border-bottom:1px solid #ccc;box-shadow:0 1px 10px #aaa;}
.van_right{ width:1px; background:#ddd; margin:10px 15px 0 20px; height:52px;}
.van_riq{ border-right:2px solid #e83737;}
.van_riq li{ float:left; margin:0 3px 0 0;}
.van_riq li a{ font-size:16px;}
.seabtn2{border:none; background:url(../images/iconfoo.png) left top no-repeat; right:8px; top:5px; width:22px;}
.navigation{ cursor:pointer; width:70px; text-align:center; height:35px;}
.navigation:hover{ background:#efefef; border-bottom:none; border-top:none;}
.navigation:hover div.navigation_van{ display:block; }
.hov_cj{ display:none; margin-left:15px; line-height:15px;}
.hov_1:hover{ border-right:none;}
.hov_1:hover .hov_cj{ display:inline;}
.butt_index{ top:83px; left:96px;}
/* 平台导航 */
.navigation_van{ width:1200px; border:1px solid #ebebeb; background:#fff; top:35px; left:0; z-index:9999; display:none; border-top:none;}
.hot_ym{ border-bottom:1px dotted #d9d9d9;}
.hot_qt{ width:1px; height:220px; background:#e8e8e8; margin:0 20px 0 40px;}
.hot_qt3{ width:1px; height:220px; background:#e8e8e8; margin:0 40px 0 20px;}
.hot_qt2{border-right:1px dotted #e8e8e8; padding:0 32px 0 0; margin:6px 0 0 32px;}
.bor_no{ border:none;}

/* banner*/
.banner_ma{ width:1200px; margin:0 auto;}
.banner_ma img{ margin:0 0 0 -60px;}
.back_wi .active img{max-width:auto;}
.banner_back1 { background:url(../images/banner1_back.jpg) center no-repeat; text-align: center; height:520px; padding-top:52px;}
.banner_back2 {background:#7384d8; text-align: center; height:520px; padding-top:52px;}
.banner_back3 { background:url(../images/banner3_back.jpg) center no-repeat; text-align: center; height:520px; padding-top:52px;}
.banner_back4 {background:#50acea; text-align: center; height:520px; padding-top:52px;}
.max_with{position: relative; min-width: 1200px;}
.login_nav_new { width: 262px; height: 416px; top:52px; left: 50%; margin-left: 338px; text-align: left; position: absolute; z-index: 99;}
.login_nav_new .tab-v1{height: 278px;}
.login_left{ width: 200px; height: 416px; top:52px; left: 50%; margin-left: -600px; text-align: left; position: absolute; z-index: 99;}
.reset_Code_new{left:134px;position:absolute;top:162px;}
.hov_van{ width:490px; height: 416px; background:#fff; position:absolute; right:-490px; top:0; z-index:1}
.cwq_dl>li{ font-size:18px; font-weight:bold; width:131px; text-align:center; line-height:43px; border-bottom:2px solid #ddd; cursor:pointer;}
.cwq_dl>li.active{ border-bottom:2px solid #F00; transition: all 0.3s linear 0s;}
.btn-danger{ border:1px solid #d9534f;}
.loginFormBtn div.btn-danger:hover{color: #fff; background-color: #d9534f; border:none;}
.cwq_zc{ background:#71aee9; color:#fff; border:1px solid #71aee9;}
.cwq_zc:hover{ background:#66a0d8; color:#fff;}
.cwq_wi li{ display:inline-table; margin:0 17px; font-size:16px; color:#999; cursor:pointer;}
.cwq_wi li.active{ background:#58cf91; color:#fff; border:1px solid #58cf91;}
.cwq_wi li:nth-of-type(2).active{ background:#7c88d0; color:#fff; border:1px solid #7c88d0;}
.cwq_wi li:nth-of-type(3).active{ background:#e83737; color:#fff; border:1px solid #e83737;}
.cwq_wi li:nth-of-type(4).active{ background:#ffd451; color:#fff; border:1px solid #ffd451;}
.wi_back1{ background:url(../images/wi_back1.jpg) no-repeat; height:675px; padding:20px 25px;}
.resetVerifyCode {cursor: pointer;}

/* 尾部 */
.footer{background: #fff; border-top: 2px solid #ebebeb;}
.strategy_client_new li{ float:left; width:180px; height:120px; text-align:center; margin:10px 10px; border:1px solid #ebebeb; background:#fff;}
.strategy_client_new li:hover,.sian_1 div:hover{ border:1px solid #e83737; }
a.left.carousel_back,a.right.carousel_riback{ background:none; margin-top:185px;}
.cwq_ss{background:url(../images/ss_back1.jpg) center no-repeat; height:298px;}
.pos_fc{border-top-right-radius:5px; border-bottom-right-radius:5px;}

/* 弹窗*/
.imodal-header {padding:0}
.modal_dia{ margin:150px auto 0 auto;}
.banner_w{ width:281px; position:relative;}
.banner_f{ position:absolute; top:150px; left:101px; background:#fb8512; color:#fff; padding:3px 10px; border-radius:5px; border:1px solid #fb8512;}
.banner_f:hover{ background:#fd940c; border:1px solid #fd940c; color:#fff; text-decoration:none;}
.banner_a a{ color:#666; padding:0 8px; line-height:35px;}
.banner_a a:hover{ color:#337ab7; text-decoration:underline;}
.banner_b{ background:#f5f5f5; padding:20px 0; border-bottom:1px solid #ddd; margin:0 0; border-radius:5px;}
.jb_cwq{ margin:0 0 0 58px;}
.jb_cwq li,.ba_cwq li,.hbdq_fl,.hbdq_fr{float:left;}
.jb_cwq li{font-size:16px; margin: 0 16px 12px 100px; font-weight:bold; color:#999;}
.jb_cwq li.jb_cwq_mar{ margin:0 24px 0 100px;}
.jb_cwq li.jb_cwq_cor,.mod-info p b,.mr-r a{ color:#ea544a;}
.jb_cwq li.jb_cwq_l{ color:#45a2e6;}
.ba_cwq{ margin:0 0 0 176px;}
.ba_cwq li strong{ display:block; float:left; width:30px; height:30px; border-radius:30px; color:#fff; background:#ddd; text-align:center; line-height:30px; font-weight:bold; font-size:18px;}
.ba_cwq li span{ display:block; float:left; width:136px; height:2px; margin:13px 7px 0 7px; background:#ddd;}
.ba_cwq li strong.ba_cwq_cor{ background:#ea544a;}
.ba_cwq li strong.ba_cwq_l,.ba_cwq li span.ba_cwq_s{ background:#45a2e6;}
.banner_c{ display:table; margin:100px auto 50px auto;}
.banner_ccwi{ display:inline; margin:0 10px; width:360px; height:42px; padding:6px 35px;}
.mar{ margin:0 0 20px 0; position:relative;}
.bu_hqy{ width:250px; display:inline; margin:0 10px 0 42px; height:42px;}
.mar .bu_cor{ background:#fb8512; color:#fff; padding: 10px 12px;}
.mar .bu_cor:hover{ background:#ec7a0b;}
.mar_b1,.mar_b2{position: absolute; left: 50px; top: 5px; z-index: 1; font-size:20px; color:#999;}
.bu_righ{ float:right; margin:0 30px 30px 0; border:1px solid #ddd; padding:6px 30px;}
.bu_le{ background:none; border:none; float:right; margin:0 25px 0 0;}
.bu_le:hover{ text-decoration:underline; color:#45a2e6;}
.bu_righ:hover{ background:#e8e8e8;}
.modal-header,.modal-content{ border:none;}
.modal-header .close{ margin:10px 15px 0 0;}
.mar_em{ color:#ea544a; font-weight:bold; margin:0 5px 0 0;}
.pa{padding: 6px 12px;}
select.input-lg{height:42px; line-height:42px; font-size:14px;}
.banner_hq{ display:table; margin:5px 0 20px 20px;}
.banner_hq .nav-tabs{ border:none; margin:15px 0 8px 15px;}
.banner_hq .nav-tabs li{ padding:6px 20px; border:1px solid #ddd; border-radius:5px; margin:0 12px 0 0; position:relative; cursor: pointer;}
.banner_hq .nav-tabs li span{ display:none; display:block; position:absolute;}
.banner_hq .nav-tabs li.active{ background:#46a2e5; color:#fff;}
.banner_hq .nav-tabs li.active span{ display:block;}
.banner_hq .tab-content{ border:1px solid #ddd; width:860px; border-radius:5px; margin:5px 0 0 0; height:444px;}
.cont_tal{margin:0 20px 0 20px;}
.cont_tar{ width:530px; min-height:180px; margin:5px 0 0 43px; color:#777}
.cont_tar input,.cont_tal input{ margin:13px 8px 10px 0;}
.cont_tar em,.cont_tal em{ margin:0 20px 0 0; font-style:normal; display:inline-block;}
.cont_tar em.lj,.cont_tal em.lj{ color:#ea544a; display:inline-block;}
.qk_left{margin:10px 0 20px 0;}
.qk_right{ float:right;  margin:10px 0 0 0;}
.qk_cor{ background:#ea544a; color:#fff; margin:0;}
.qk_cor:hover{ background:#e14137; color:#fff;}
.banner_wq1{ margin:50px 70px;}
.wq_div .docor{ color:#27a51e; font-size:23px; margin:0 15px 0 0;}
.wq_div .focor{ color:#2f84ee; font-size:25px; margin:0 15px 0 0;}
.wq_div .gocor{ color:#f23535; font-size:25px; margin:0 15px 0 0;}
.wq_div span,.yqsq,.yjzd_div span{ color:#ea544a;}
.border_wr{ border-bottom:1px solid #ddd; margin:0 0 20px 0; padding:0 0 30px 0;}
.lfqg{ font-weight:bold; line-height:30px; margin:20px 0 10px 0; border-top:1px solid #ddd; padding:20px 0 0 5px;}
.lfqg_l p span{ color:#ea544a;}
.lfqg_l{ float:left; padding:0 0 40px 50px;}
.lfqg_r{ float:left; width:390px; margin:0 0 0 120px; color:#666;}
.lfqg_r .nyt{ font-size:40px; margin:0 10px 0 0; color:#ea544a; line-height:35px;}
.lfqg_r span{ font-size:24px; color:#ea544a; }
.lfqg_fo a{ padding:7px 15px; background:#fb8512; color:#fff; border-radius:5px; margin:0 10px 0 0; line-height:40px; }
.lfqg_fo a:hover{ text-decoration:none; background:#ef7b0a;}
.lfqg_fo .ms{ margin:0 8px 0 0;}
.ltcj{ color:#fb8512; font-size:24px;}
.ov{ display:none;}
.current dd{ display:block;}
.hbdq_fl{ margin:10px 20px 0 0; color:#46a2e5;}
.hbdq_fr{ width:430px;}
.banner_hq .tab-content{ position:relative;}
.right_yq{ position:absolute; width:280px; border-left:1px solid #ddd; padding:0 0 0 20px; top:140px; right:40px;}
.right_yq p{ font-weight:bold; margin:0 0 10px 0;}
.right_yqco{border:1px solid #ddd; padding: 10px 15px; line-height: 25px;  height:326px;overflow-y: auto; }
.qb_fl{ float:left;}
.qb_fr{ float:left; width:150px;}
.qb_l{ float:left; padding:0 7px 3px 7px; position:relative; border:1px solid #fff; line-height:20px; color:#777;}
.qb_l:hover{border:1px solid #ea544a; color:#ea544a;}
.qb_img{ display:inline-block; position:absolute; top:-5px; right:-5px; z-index:2}
.qb_img{ display:none;}
.qb_l:hover .qb_img{ display:block;}
.qb{ margin:0 0 7px 0;}
.yjzd_div{margin:0 0 0 30px; float:left;}
.yjzd_div strong{ font-weight:normal; margin:0 20px 0 0;}
.hqfa{ margin:40px 0 100px 43px;}
.hqfa a{ background:#ea544a; padding:13px 25px; color:#fff; border-radius:5px;}
.im_r{ margin:0 0 0 8px;}
.wq_div{ margin-bottom:5px;}
.wq_div dt{ font-weight:normal;}
.ov{ display:none;}
.current dd{ display:block;}
.vi_a{ border:1px solid #ddd; border-radius: 5px; margin:10px 40px 0 20px;}
.vi_img{ float:left; margin:5px 12px; width: 65px;}
.vi_img img{width: 65px; border-radius: 32px;}
.ving{padding-left: 22px; background: url(http://img.cwq.com/Public/Indexs/images/v_weixin.gif) no-repeat left center; margin:7px 0 0 0;}
.mod-info p{line-height: 22px; color: #999;}
.vi_tex{ float:left;}
.vi_fl{ float:left; margin:7px 0px 5px 5px; border-right:1px solid #ddd; padding:0 20px 0 0;}
.mr-r{ line-height:85px; text-align:center;}
.banner_a{ border:1px solid #ddd; margin:0 2px 0 0;}

label{ font-weight:normal;}
/* 弹窗结束*/
.iuser b {color:#fc6061}
.ubb { border-bottom:1px solid #e2e2e2}





